[2017-10-25 18:07] robaho opened #1 "ColorSync is deprecated"
Apple has deprecated ColorSync and Seashore uses this when working with CMYK and other operations - like embedding color profiles in the image.

The functionality has been disabled to avoid runtime errors, and everything seems to be working OK for standard file types and color spaces.

[2017-10-25 18:35] robaho opened #2 "XCF files do not open"
Crashing opening the sample XCF files.

[2017-10-25 19:35] #2 closed

[2017-10-25 19:35] robaho commented on #2
fixed with 0.6.1

[2017-10-25 21:27] robaho opened #3 ""quick look" does not work with XCF files"

[2017-10-28 03:19] robaho commented on #3
fixed

[2017-11-16 18:19] Tricky1975 opened #4 ""Quit Seashore" disabled"
![image](https://user-images.githubusercontent.com/11202073/32908046-a518ac02-cb02-11e7-94b4-9e66ebeb0fb2.png)

I had no open pictures anymore when I saw this. In the dock I can still select the "Quit" feature, but doing so will lead to an ignored request.

In the end I could only use one method to quit SeaShore

![image](https://user-images.githubusercontent.com/11202073/32908133-f2b8799c-cb02-11

[2017-11-16 20:20] robaho commented on #4
Can you produce the issue on demand ? Was there something you did just prior? Not a lot to go on...

[2017-11-16 20:21] robaho commented on #4
Also, in the future, if it happens again, you can use the 'activity monitor' and do a 'sample' of the process and attach that here. That would help.

[2017-11-17 09:06] Tricky1975 commented on #4
I shall use the activity monitor next time, when it comes to my course of actions, I can sumarize it easily.

1. I just installed SeaShore from the latest release here on GitHub
2. I created a new picture
3. Just to test if it works I drew some random lines and used the fill feature to make a nice piece of “modern art”
4. “Used Quit", I was promted to save and I did (in xcf format)
5. Had to press

[2017-11-17 15:52] robaho commented on #4
I was able to reproduce. I'll try to fix it when I get a chance. In the meantime, If you just 'save' first, then 'quit' it seems to work fine.

[2017-11-17 16:48] Tricky1975 commented on #4
Thank you ;)
I will do that...

[2017-11-24 16:21] #4 closed

[2017-11-24 16:21] robaho commented on #4
fixed with 0.6.3

[2017-11-25 13:11] Tricky1975 commented on #4
Thank you very much :)

[2018-10-12 12:59] SimplyTheOther opened #5 "Crash when attempting to open PNG"
I opened up Seashore from the Dock and then attempted to open a PNG file through the "File" menu. After selecting the file and pressing "Open", the program crashed and disappeared from the Dock. I attempted to repeat the process, and it crashed again with a different PNG file. It did, however, open a JPEG file in the same directory.

The version of Seashore I have installed is "Version 0.6.3 (2017

[2018-10-22 14:31] robaho commented on #5
Thank you, I will look into it as soon as I get a chance.

[2018-10-22 14:33] robaho commented on #5
@SimplyTheOther Can you attach one of the PNG's it was crashing with? That would be very helpful.

[2018-10-26 05:08] SimplyTheOther commented on #5
![e3_logo_dropshadow](https://user-images.githubusercontent.com/19371469/47545612-cceb8200-d91f-11e8-90b0-349993827ed9.png)
![floorplanedits](https://user-images.githubusercontent.com/19371469/47545660-002e1100-d920-11e8-956b-2f2a2a2a6433.png)
Sorry for the wait. Here's two images it crashes with.

[2018-10-31 02:57] robaho commented on #1
Btw, the ColorSync was re-enabled a while back, but still need to figure out an update path - probably need to use CoreGraphics which is a pretty big change - not sure when the time will be available.

[2018-11-10 12:55] SimplyTheOther opened #6 "Crash when trying to copy image data from one image to another"
I opened two .png images of the same dimensions in Seashore simultaneously, which worked fine. I was able to individually edit and save to each image. I then copied the entire image of one. When attempting to paste it in the other image, Seashore crashed with the error report given below.

The version of Seashore I have installed is "Version 0.6.4 (20181026)" and I am currently running Mac OS Moja

[2018-11-26 19:03] robaho commented on #6
I believe this happens whenever you have a selection rect in one image, create a selection rect in the other, copy, then go back to first image and paste. It may just be when dealing with PNG but I doubt it.

I am working on resolving it.

[2018-12-19 06:33] robaho opened #7 "unable to open gray scale image"
If the gray scale image contains a color profile, the image fails to open properly - it shows as all black.

This is probably related to the dropping of color sync support.

[2018-12-19 06:42] robaho commented on #7
fixed in v0.6.6

[2018-12-19 06:42] #7 closed

[2018-12-21 04:06] sonique6784 opened #8 "Building guide"
Hi, thanks for keeping seashore working in recent MacOS version.
I couldn’t compile the project because of nib files missing.
CIVortex, CIStarshine, CIMonochrome, CIExposure, CIParallelogramTile, CIDisplacementDistortion
Actually there is no Base.lproj Into these folders.

I also got seashore.h not found from CI*.h

I believe I’m doing something wrong by couldn’t find a build guide

I’m using high

[2018-12-21 04:32] robaho commented on #8
I will add and commit all of my project files. I am building under XCode 10.1

[2018-12-21 04:44] robaho commented on #8
I am in the process of fixing issue #1, but all of the code and project files have been posted to git.

[2018-12-21 04:44] #8 closed

[2018-12-21 04:46] robaho commented on #8
Also, as far as a build guide, I'm not even a Mac developer... The XCode system is horrible IMO, and is continually changing. I just hope that the automatic conversion works, and cross my fingers - on every release.

Not to mention the APIs being continually deprecated... It's a very difficult platform to develop for - remind me of M$ in the 2000's...

[2018-12-22 06:21] robaho opened #9 "most filters/tools don't support grey scale images"
There is a bug in that the spp (samples per pixel) is not correctly initialized, so the filters will fail when used with grey scale images.

[2018-12-22 16:26] #9 closed, assigned to nobody

[2018-12-22 17:55] robaho opened #10 "new image transparent background doesn't work"
if 'transparent background' is selected, the background is still white

[2018-12-22 18:13] robaho commented on #10
fixed

[2018-12-22 18:13] #10 closed

[2018-12-23 00:07] robaho opened #11 "textures do not work correctly"
The images and thumbnails are not loaded properly.

[2018-12-23 00:29] robaho opened #12 "update checks need to work for latest release"
Seems to be a permission issue.

[2018-12-23 01:43] robaho commented on #12
fixed, also removed some website related features that are too hard to maintain

[2018-12-23 01:43] #12 closed

[2018-12-23 01:44] robaho commented on #1
fixed, still need to investigate including color profiles in the saved images

[2018-12-23 01:44] #1 closed

[2018-12-23 15:40] robaho opened #13 "using core image for rotation doesn't work correctly"
If you change the preferences to use 'core image' the rotation causes poor results, with the image being washed out and larger after rotation

[2018-12-24 01:17] sonique6784 commented on #8
Hi Rob,
Thank you for your help. I managed to build it.
I had to add SeaPlugins.h file into CIUnsharpMask and CINoiseReduction xcodeproj/Classes/

And now it’s compiling fine. I will open a PR when I get home.

[2018-12-25 00:26] tnakagome opened #14 "Font handling is broken"
When I try to insert a text, it is shown like black and white stripes.
This occurs on both the latest MacOS 10.14 (just upgarded) and 10.13.6.

<img width="836" alt="2018-12-25 9 18 19" src="https://user-images.githubusercontent.com/19327519/50408022-d5304280-0826-11e9-96d9-00977187b33f.png">

Thanks.

[2018-12-26 16:37] robaho commented on #14
@tnakagome can you reproduce this with version 1.0.0 ? I need exact steps to reproduce, because it works for me.

[2018-12-26 16:38] robaho opened #15 "change image mode distorts colors"
The colors are too dark when converting to gray.

[2018-12-26 16:58] robaho commented on #13
simplified core image transform handling, needed to initialize destination image to black with no alpha

[2018-12-26 16:58] #13 closed

[2018-12-27 01:50] robaho commented on #15
resolved

[2018-12-27 01:50] #15 closed

[2018-12-27 01:51] robaho opened #16 "convert to grayscale and cmyk fail"
The filter operations cause the image to be distorted.

[2018-12-27 17:02] robaho commented on #16
resolved. more ColorSync issues.

[2018-12-27 17:02] #16 closed

[2018-12-28 02:00] robaho commented on #14
Also, I only have 10.13.6, and version 1.1.2 is working for me.

[2018-12-31 10:30] tnakagome commented on #14
It's as simple as creating a new image and insert a text. I was using 0.6.6 when I reported, but it still happens on 1.1.3 with 10.14. My OS language is Japanese, if that matters.

[2018-12-31 15:55] robaho commented on #14
I will try reviewing the relevant code again, but it is very hard to fix if I can’t make it happen. Also I can’t run 10.14 only 10.13 so I’m stuck a bit.

[2018-12-31 19:08] pook52mb opened #17 "disk image couldn't be opened"

[2018-12-31 19:16] pook52mb commented on #17
https://github.com/robaho/seashore/releases/download/v0.6.6/seashore-bin-0.6.6.dmg
https://github.com/robaho/seashore/releases/download/v1.1.3/seashore-bin-1.1.3.dmg

Will not open on 10.9.5.  Reason: no mountable file systems.  APFS???

[2018-12-31 20:12] robaho commented on #17
changed to HFS+ in 1.1.4 so you should be able to open it now

[2018-12-31 20:12] #17 closed

[2018-12-31 20:27] robaho opened #18 "scaling image using 'core image' fails"
also, when core image is enabled for scaling/rotation, OSX 10.12+ is required - which is too restrictive

additionally, the transform is released again

[2018-12-31 20:28] #18 closed, assigned to nobody

[2018-12-31 23:57] robaho commented on #14
@tnakagome did you try with the 'high quality fringe' disabled ? Also, are you sure you don't have a 'texture' selected, maybe from a saved setting ?

[2019-01-01 00:01] robaho commented on #14
@tnakagome also, can you please try with a standard font, like Lucidia, and ascii characters and report if it works. Thanks.

[2019-01-01 02:08] tnakagome commented on #14
I have set the OS primary language to English and recorded a video, with "high quality fringe" turned off.

This is on Macbook Pro (13-inch 2016 model)
- 3.3GHz Intel Core i7
- 16GB RAM
- Intel Iris Graphics 550 1536MB
with MacOS 10.14.

Interestingly, this did not happen a year ago on the same machine running 10.13. Maybe a few OS patches got applied since then. Not sure what else have changed.

[2019-01-01 16:12] robaho commented on #14
@tnakagome thanks for the video, but it is not "wide enough" for me to see the color settings in the upper right corner. a screen capture of those would be fine.

A shout out to anyone running this on 10.14... Is it working for anyone ?

[2019-01-01 16:23] robaho opened #19 "enable core image auto enhancement"
core image has facilities to "auto enhance" an image - make available via plugin

[2019-01-01 17:06] robaho commented on #19
resolved in 2.0

[2019-01-01 17:06] #19 closed

[2019-01-01 17:23] robaho opened #20 "plugin effects are not sorted"
The list is in a random order...

[2019-01-01 17:29] #20 closed, assigned to nobody

[2019-01-01 21:33] robaho commented on #14
should be fixed in 2.0, I believe it is caused by graphics setups that use planar data, or possibly retina displays - either which I can't test, but it seems the text code was using a similar pattern as other code that was broken in this regard.

one thing to note, sub-pixel antialiasing is disabled, since it is really only useful when displaying on a monitor, and should not be in the pixel/image

[2019-01-01 21:33] #14 closed

[2019-01-03 01:13] tnakagome commented on #14
Working fine now. Thanks!

[2019-01-03 02:40] robaho opened #21 "ability to proof using color sync profiles"
similar to 'preview' - right now it is restricted to CMYK

[2019-01-04 06:48] robaho opened #22 "undo layer operations causes crash"
If a floating layer is pasted, or any layer is deleted, and undo is performed, the application will crash.

[2019-01-04 06:49] robaho commented on #22
fixed in 2.1

[2019-01-04 06:49] #22 closed

[2019-01-04 17:43] robaho opened #23 "ability to disable disk cache"
Seashore includes a "memory cache" with a size of 4mb (by default). Additionally, when deleting layers, etc. it writes the old information to disk for 'undo'.

There should be an option to disable this write to disk management, since in a modern OS the virtual memory management is usually far more efficient, and makes the code simpler.

[2019-01-04 22:44] robaho opened #24 "seashore fails to load Gimp/XCF image with parasite (property) data"
The conversion to ARC causes the memory tracking to fail.

[2019-01-04 22:44] robaho commented on #24
fixed in 2.1.1

[2019-01-04 22:44] #24 closed

[2019-01-05 04:02] robaho commented on #23
fixed in 2.1.2 - see the preferences

[2019-01-05 04:02] #23 closed

[2019-01-06 12:22] core-code opened #25 "cleanup info.plist"
from your info.plist

[code]

1.) the CFBundleGetInfoString key has been deprecated for about 10 years (since 10.6) and should be removed
2.) its contents don't make sense anyway, its not version 1.0 and the GPL is already mentioned in the NSHumanReadableCopyright string

in summary i think this should be removed

[2019-01-06 12:37] core-code commented on #25
futhermore, the LSMinimumSystemVersion key to indicate the required minimum OS version is missing

[2019-01-06 16:30] robaho commented on #25
@core-code also, I’m nottraditionally a Mac developer so it would be nice to know similar issues you think that need to be addressed. I’m more concerned about really only things that have been deprecated because things start to break, like the color sync api.

[2019-01-06 16:37] robaho commented on #25
@core-code not sure why the min says version is not picked up from the build settings. In most cases it should be 10.7 but I suspect it is really 10.12 due to api usage in some functions.

[2019-01-06 16:38] core-code commented on #25
hey robert. currently quite busy but i'll try to look into this in the next few days ;)

[2019-01-06 18:38] robaho commented on #25
fixed in 2.1.4

[2019-01-06 18:38] #25 closed

[2019-01-07 14:42] core-code commented on #25
thanks i can confirm the info.plist problems have been fixed in 2.1.4

about the LSMinimumSystemVersion. previously that was a big headache because Xcode wouldn't tell you when you are using APIs that aren't available on the deployment SDK. however, that has been solved a few years back by Xcode 8 (if i remember correctly). however, i tried out compiling seashore, and when i deliberately introduce

[2019-01-07 15:19] robaho commented on #25
@core-code thanks

[2019-01-07 15:23] robaho commented on #25
@core-code don’t I need to select that config file for each build configuration ? Or is the project name one used always? I’m working on getting it deplorable to the App Store and it is much harder to do this after the fact.... but a lot I think is due to the somewhat strange structure originally - not sure I would of used all of the plugin projects but rather some sort of build script so it could

[2019-01-07 15:34] core-code commented on #25
i can't tell you that because i only ever use projects with a single .xcodeproj file
i suspect though that a single file linked in the main Seashore.xcodeproj is good enough
in any case, unless there are other people interested in contributing and hindered by this issue, it may not be worth putting much time into that at this point

i've also wondered why this needs to be so complex. maybe there a

[2019-01-07 15:54] robaho commented on #25
@core-code I've cleaned it up a lot - I think the original design was that people were supposed to be able to create their own plugins - but there was never a "plugin framework" they could link against so the code was duplicated in every plugin - so I fixed that.

anyway, thanks for your help, I am hoping to button this up today

[2019-01-08 15:18] bacsojin1102 opened #26 "Could not open with mac os high sierra 10.13.6"
Version 2.1.5
I got compatible error when open the app.
Maybe this the same with issue #5

![screen shot 2019-01-08 at 22 16 30](https://user-images.githubusercontent.com/11953561/50839547-20079980-1393-11e9-8048-1f8e332a25da.png)

[2019-01-08 16:08] robaho commented on #26
@bacsojin1102 Hmm... I develop and test on High Sierra... Can you possible open the show details and paste here... just remove any personal information if need be. Thanks for your support.

[2019-01-08 16:12] robaho commented on #26
@bacsojin1102 also, it may be the file that was last save/viewed and it is trying to open that... you might need to attach that file here as well if you can, but the show details might be sufficient

[2019-01-08 17:19] robaho opened #27 "scale image offsets image when using core graphics"
If you disable it under preferences it works as expected.

[2019-01-08 17:20] robaho commented on #27
fixed in 2.1.6

[2019-01-08 17:20] #27 closed

[2019-01-08 17:58] robaho commented on #26
@bacsojin1102 one more thing, was it opening successfully with previous versions ? Thanks for your help. Just FYI, I can't really do anything on this until I get some answers to these questions because it is working for me.

[2019-01-08 19:22] pfackelmann commented on #26
same here

Peter
[Seashore Process.pdf](https://github.com/robaho/seashore/files/2738151/Seashore.Process.pdf)

[2019-01-08 19:56] robaho commented on #26
@pfackelmann do you by chance not have it installed in /Applications or possibly you use a custom user setup ?

[2019-01-08 19:58] robaho commented on #26
Never mind, I see the problem. Working on a fix.

[2019-01-08 20:17] robaho commented on #26
fixed in 2.1.6

[2019-01-08 20:17] #26 closed

[2019-01-10 09:46] pook52mb opened #28 "Minimum OS since 2.1.4 is now 10.7"
"The primary motivation was to allow Seashore to work on OSX 10.6+"

The last version to work with OS X 10.6 is 2.1.3.  Please leave it available on GitHub.

Also, please make changes to note that the minimum OS is now 10.7.

[2019-01-10 14:01] robaho commented on #28
Trust me I’ve been trying to keep the version as low as possible, but in some cases you can’t make it work on modern os if you keep the old way.

Still I will review and see if 10.6 can work.

More importantly, I would be concerned about using 2.1.3. I would use an older version from sourceforge where all of the versions are. Probably go back to 0.6.6

[2019-01-10 15:54] robaho commented on #28
@pook52mb Actually, I would not use any version past 1.1.5, but would also consider seriously using 0.6.6 instead as some of the early 1.x versions had "new bugs".

I did a review and 10.7 is going to be the minimum version. ARC requires 10.7 for weak references - the code is too hard to maintain without ARC, and there's no going back. Sorry. I am going to close this. I will update the documentati

[2019-01-10 15:54] #28 closed

[2019-01-10 23:30] pook52mb commented on #28
"If you are on an earlier OSX version, I suggest downloading the 0.6.6 binaries from seashore.sourceforge.net"

"changed to HFS+ in 1.1.4"

Would you please repackage https://sourceforge.net/projects/seashore/files/v0.6.6/seashore-bin-0.6.6.dmg as HFS+ for the few of us still using 10.6.

[2019-01-10 23:52] robaho commented on #28
@pook52mb  I added an "hfs" dmg to the 0.6.6 folder.

[2019-01-12 13:51] 0xfadeef opened #29 ""Effects" displays empty list and breaks the toolbar"
Press "Effect Tools" > "Effect" in the toolbar, then press "Choose Effect" button. Effects list is empty and after that it's not possible to pick any other tool or use window buttons (to close the window, for instance).

OS X 10.9.5, app version: 2.1.8

[2019-01-12 14:03] 0xfadeef opened #30 "App crashes when trying to close the window"
Trying to close the app window with a window button or pressing Cmd+W results in "Seashore quit unexpectedly." dialog.

OS X 10.9.5, app version: 2.1.8

[2019-01-12 16:32] robaho opened #31 "printing is disabled"
The "sand box" is preventing the application from printing.

[2019-01-12 16:34] robaho opened #32 "app store requires removal of check for updates"
The app store does not allow applications to perform their own "check for updates", so this functionality needs to be removed or disabled for app store distribution.

The sticky problem is that the "network client" is only required for check for updates, and so if this is removed, then that entitlement can be removed - but it is still needed for 'non app store' distribution.

I think the easiest w

[2019-01-12 17:05] 0xfadeef commented on #29
@robaho Not only I deleted previous version of Seashore, I `rm`-ed everything found with `sudo find / -iname *seashore*`. Issue remains. But, by your advice, I checked Console and there is bunch of error messages of the same form for each plugin installed.
[code]

[2019-01-12 17:14] 0xfadeef commented on #30
@robaho There are no additional steps. You just start the app, open new file or some existing file, then try to close a window. That's it. Please check an excerpt from `system.log`:
[code]

[2019-01-12 18:56] robaho commented on #29
@0xfadeef see this http://flummox-engineering.blogspot.com/2018/08/missing-coreimage-framework-in-macos-yosemite-10-10-5-quartz-framework.html

Not sure why it is being built that way, since I have compatibility set to 10.7 but I will investigate. Hopefully I can fix it for the next build.

[2019-01-12 20:34] 0xfadeef commented on #29
@robaho I symlinked `CoreImage.framework` as it was suggested and looks like it resolves the problem, the app is working fine right now. Thank you for help.

[2019-01-12 22:47] robaho commented on #29
@0xfadeef I'll probably ask you to remove the symlink and test with the next version - obviously doing the symlink is not ideal.

[2019-01-12 23:15] robaho commented on #30
@0xfadeef is this working now that the effects are working ? I am thinking they may be related.

[2019-01-12 23:16] robaho commented on #30
@0xfadeef also, there should be a crash report in /Users/sergeyfadeev/Library/Logs/DiagnosticReports/ if you could attach that here if not resolved, I would appreciate it.

[2019-01-13 23:14] robaho commented on #30
Going to close this since I think it was related to the startup issues not being able to find core image.

[2019-01-14 07:11] robaho commented on #31
fixed in 2.1.9. also advanced Seashore specific panel for scaling, and remove the 'page setup' and moved those options to 'Print...'

[2019-01-14 07:11] #31 closed

[2019-01-14 16:45] robaho commented on #29
I removed any direct references to CoreImage in the projects in 2.1.9 - the built plugin bundles still seem to reference the direct path, but hopefully it works in the wild.

[2019-01-14 17:00] robaho opened #33 "export as texture fails due to sand-box"
Since Seashore is now sand-boxed, it needs to write and read user textures from the Containers, 'Application Support'

[2019-01-14 19:03] robaho commented on #33
fixed in 2.1.9

[2019-01-14 19:03] #33 closed

[2019-01-14 21:29] robaho opened #34 "ability to create brush directly in app"
due to difficulties in distributing ancillary programs through the App Store, the "Brushed" application should be removed and the functionality added into the core Seashore app - similar to "texture export".

[2019-01-14 22:09] robaho commented on #34
fixed in 2.1.9

also removed the Pat2PNG since GIMP supports general image patterns, and Brushed since it was incorporated into Seashore

[2019-01-14 22:09] #34 closed

[2019-01-15 19:15] 0xfadeef commented on #29
@robaho I unlinked `CoreImage.framework` and checked with version 2.1.9. Unfortunately, the issue still present. Please check the [screenshot](https://user-images.githubusercontent.com/30846958/51203407-04137300-1912-11e9-98f0-1b412e4e682e.png).

[2019-01-15 19:50] robaho commented on #29
@0xfadeef Thanks for the update. I just downloaded an Apple sample core image application and built it. The resulting bundle had the same Core Image reference as Seashore - so it certainly appears the problem is with your system. I checked a bunch of other coreimage builds and problem reports around the web, and the framework should be there - a fresh OSX install may fix things.

Did you possibly

[2019-01-15 20:07] robaho commented on #29
I am re-opening. I figured out the issue. The plugins were being required to compile for 10.14+, so when linking it assumed that is where the CoreImage framework was. After I switched to 10.7, they have different linkage instructions.

I am in the process of making a new build.

[2019-01-15 21:49] robaho commented on #30
@0xfadeef I still can't reproduce. I need more details. If you open the application fresh, create a blank document, then use cmd-W does it crash? If you make some changes then use cmd-W do you get the prompt to save, and then does it crash?

The crash log shows it dying in OSX internals, and I can't reproduce, so it does possible point to a bug in Mavericks that Seashore is exposing.

Maybe if you

[2019-01-15 22:05] robaho commented on #30
@0xfadeef it may of been caused by the incorrect version compiling - the 2.2.0 release may fix the issue

[2019-01-15 22:49] robaho commented on #29
This should be fixed in version 2.2.0

[2019-01-15 22:49] #29 closed

[2019-01-16 08:43] 0xfadeef commented on #29
@robaho So far not reproducible on `2.2.0`. Thank you!

[2019-01-16 14:41] robaho commented on #30
@0xfadeef did the 2.2 release resolve this for you?

[2019-01-16 19:21] 0xfadeef commented on #30
@robaho

Unfortunately, no. Still crashes.

Yes. Same if you open some existing image after the app starts.

Depends. If you press "Don's save", then it crashes. If you choose to save the image, then **no, it doesn't crash**. Weird thing is, however, after you save the image, the app doesn't close the window. If you try to close again, **no crash**, all good.

I'm afraid I don't understand what "m

[2019-01-16 19:25] 0xfadeef commented on #30
Also, I'd like to mention that afair previous version of Seashore I had installed (don't remember version name) didn't have this bug on this OS.

[2019-01-16 19:43] robaho commented on #30
@0xfadeef are you using the version from the App Store? If so, you can use the "report to Apple" and I'll get a detailed report of the problem which might hopefully allow me to fix. Still can't reproduce in any way.

[2019-01-17 04:19] robaho commented on #30
@0xfadeef it appears it is a bug in the version of the OS you are running. There are similar reports to yours all over the web regarding the NSRulerView and this crash. That being said, there is a work-around I am going to try.

[2019-01-17 06:12] robaho commented on #30
Hopefully it is now fixed in 2.2.1 - not sure when that will get posted to the app store.

[2019-01-17 19:18] 0xfadeef commented on #30
@robaho Maybe you can provide dmg image for `2.2.1` so I can check whether the issue is actually resolved?

[2019-01-17 19:33] 0xfadeef commented on #30
![2019-01-17_22-32-35](https://user-images.githubusercontent.com/30846958/51343600-d19b7e80-1aa7-11e9-9356-3b36a8e51ae4.png)

[2019-01-17 19:48] robaho commented on #30
@0xfadeef I just downloaded the posted file and it opens fine for me - I think you need to use "save as", then use the finder to unzip it, then mount the dmg. It is probably a chrome thing auto-opening the zip.

[2019-01-17 19:49] robaho commented on #30
@0xfadeef I just downloaded with Safari - you might want to try that.

[2019-01-17 20:09] 0xfadeef commented on #30
@robaho Just repeated entire process several times downloading with Safari and I always unzip manually. Same result: _"Seashore.app" is damaged and can't be opened._

[2019-01-17 20:13] robaho commented on #30
@0xfadeef this may help https://secure.clcbio.com/helpspot/index.php?pg=kb.page&id=323 it is something with your system I think. I downloaded again and it opens fine.

[2019-01-17 20:14] robaho commented on #30
@0xfadeef this may be easier to follow https://www.iotgadgets.com/2018/09/how-to-fix-application-is-damaged-and-cant-be-opened-error-in-macos-mojave-and-high-sierra/

[2019-01-17 20:15] robaho commented on #30
@0xfadeef you may also just be able to right-click and open to get additional security prompts

[2019-01-17 22:53] robaho opened #36 "remove more GIMP code and replace with CoreGraphics/CoreImage"
By leveraging CoreGraphics & CoreImage for the operations, the performance should be improved as these should take advantage of hardware acceleration which the GIMP code does not.

[2019-01-19 00:13] robaho opened #37 "remove "high quality" edge mask option"
The sub-pixel rendering for which this for is only available if the user has "font smoothing" enabled at the OS level. Additionally, it has been removed by default for NSBitMapImageRep - since in most cases you should not be using this if going to print. Furthermore, OSX Mojave disables it by default.

[2019-01-19 00:14] robaho commented on #37
The text will still be anti-aliased - just not sub-pixel aliased.

[2019-01-19 19:38] robaho commented on #30
@0xfadeef I would really like to resolve this for you in the next release. To do that, I could use a little more prompt feedback, otherwise I am going to have to put it on the back-burner.

Please advise if you were able to open and run the DMG I attached here previously. Thanks.

[2019-01-19 20:41] robaho commented on #36
fixed in 2.2.2. No more GIMP except in gradients. The 'scaling' has been changed to match OSX, which is NON, LOW, MEDIUM, and HIGH.

[2019-01-19 20:41] #36 closed

[2019-01-26 21:05] core-code opened #38 "version 2.3.0 not available outside of the Mac App Store"
its really nice that you got Seashore approved by Apple and available in the Mac App Store. i hope this will lead to many new users contributing to the project.

however, most tech-savy users hate the Mac App Store and wouldn't download there even if paid for doing that. since you don't seem intent on charging for Seashore ATM i think it would think it would make sense to provide a non-MacAppStore

[2019-01-26 23:46] robaho commented on #38
I understand that, the problem is that it didn't seem trivial to change the entitlements for the App Store build - the 'check for updates' would require the 'client network access' to be enabled, just for this.

I'll see when I get a chance if can figure out an easy way to do so.

[2019-01-26 23:58] robaho commented on #38
I posted the DMG, at least for the mean-time. By users downloading via 'brew' instead of the App Store, it hurts the applications visibility, especially since you can't post reviews if you haven't downloaded via the App Store. By increasing visibility, it widens the potential pool of people that might help the project out - without which it will probably die again... So please understand the side-

[2019-01-26 23:58] #38 closed

[2019-01-27 03:13] vitorgalvao commented on #38
Homebrew Cask maintainer here. I’m interested in why you think that is the case, as I don’t see it that way at all. In fact, we have a long running policy (one of the oldest) that [we are not a discoverability service, and that users should be familiar with what they are installing via Homebrew Cask before doing so](https://github.com/Homebrew/homebrew-cask/blob/master/doc/faq/not_a_discoverabilit

[2019-01-27 13:36] core-code commented on #38
app store reviews are only a very small part of the 'marketing' that your users can do for you. a happy user is far more likely to do free marketing for you by recommending or mentioning your app.

and by definition, someone that is forced to do something he hates (download from the Mac App Store), won't do anything for you at all.

different people, different ways. i wouldn't download from the MA

[2019-01-27 13:57] robaho commented on #38
I’m fairly certain in a future release of OSX general users will only be able to install software from the App Store, certainly only software certified by Apple. I can’t even send prerelease versions of Seashore to users and easily have them run it.

People that use brew are a small minority of the OSX user base. Probably less than 1%. And if you say regularly use brew it’s less than that.

I don’

[2019-01-27 14:07] core-code commented on #38
i doubt that as many people would abandon the platform the instant this happened.

not sure why you are having troubles there, as long as its properly signed.

thats true, but people that avoid the Mac App Store are probably the majority

it never worked well for me, and i certainly don't want every app that i just download and try out to be permanently linked to an account i have with Apple.

[2019-01-27 14:50] vitorgalvao commented on #38
I’d argue a tangential point (no hard data, though, so speculating), that MAS users seldom realise when an app is open-source, and thus increasing an app’s MAS popularity more likely translates in more support requests than in more help.

You could instead make the app paid in the MAS and free via direct download, thus getting financial help from one side and code help from the other. And if you m

[2019-01-27 15:08] muesic opened #39 "Seashore crashes immediately on launch in OS X Mojave"
Just trying this app for the first time in years and it crashes every time I try to launch it. I'm running a mid-2015 MacBook Pro and OS X Mojave 10.14.4 (yea, I know that a beta of OS X, but it hasn't broken anything else that I know of).
Forgot to mention I was trying out version 2.3.0

[2019-01-27 15:11] robaho commented on #38
I understand your points, and I am (at least I hope to be considered one) a developer and I know full well the developer community concerns and preferences.

An app like Seashore is not a typically used by developers.

I think you are missing a BIG point. Developers don’t typically want to work on dying projects, they want to work on projects that have visibility (for their careers, others to help

[2019-01-27 15:17] robaho commented on #39
@muesic Are you running the App Store version? If so you can report the crash log, if not, you need to post the crash log here so I can review.

[2019-01-27 15:49] vitorgalvao commented on #38
It does. And [the information is public](https://formulae.brew.sh/analytics/).

I’ve never encountered that opinion before, so if you recall a blog post or something making that claim, I’d like to see it. Considering the outrage that followed Hombrew *introducing* analytics, I’m skeptical that many would have negative impressions of Homebrew for not providing them (which, as established, it does *

[2019-01-27 17:41] robaho commented on #39
fixed in 2.3.1

[2019-01-27 17:41] #39 closed

[2019-01-27 17:51] robaho commented on #38
Yes, it does, but it doesn't "promote it" in anyway that I can see. For instance, I use brew a lot, and was never notified that Seashore is now available via brew - in anyway shape or form. I wasn't even given a curtesy notice as the author that brew was now going to distribute the dmg's I provide on github. So brew is not IMO being a good citizen supporting the developers actually creating the co

[2019-01-27 18:05] muesic commented on #39
So what took you so long ;-)

I also just now tried to download it from:
https://sourceforge.net/projects/seashore/files/latest/download <https://sourceforge.net/projects/seashore/files/latest/download>
but it looks like it's not ready yet.

Regards,

Mick

[2019-01-27 21:05] vitorgalvao commented on #38
That is a fair criticism. We’ve grown enough that we’re even picky about is included, so increasing the barrier of entry to apps is a beneficial strategy. Requiring that the developer is *at least* contacted and given a reasonable amount of time (two weeks?) to refuse inclusion will ensure that only apps people *really* want get in.

Maybe require that people that submit the app also find a valid

[2019-01-27 23:11] 0xfadeef opened #40 "Main window is not created on new/open"
After the app starts it's not possible neither create a new image nor open an existing one since main window doesn't not show up. See error log below.

OS X 10.9.5, app version: `2.3.0`; `2.3.1`

[code]

[2019-01-27 23:30] Navy-Brat opened #41 "I wanted to suggest a revision to your system requirements."
Dear Mr. Engels:

Thank you so much for reviving the Seashore image editor. I have a 2008 13” Model MB402LL/A White MacBook (2.1 Ghz) with OS X 10.7.5 and I wanted to suggest a revision to your system requirements.

I'm so sorry and I was so looking forward to the new software, I downloaded and tried Seashore v0.6.6, v1.1.5, and v2.1.8 and could not get any of them to load on my system. I still us

[2019-01-27 23:31] robaho commented on #40
fixed in 2.3.2, it is a feature that is only in 10.11+

[2019-01-28 00:09] robaho commented on #41
The latest 2.3.2 release should work on 10.7+. It is available now here in the 'releases'. It should be on the App Store in a few days - I recommend you wait for this. (The "technical website" you are referring to is where you just posted this issue- go to the releases tab)).

(the only way to get it to work on 10.6.8 would be to use 0.6.6 - which you say isn't working - it would require some effo

[2019-01-28 00:09] #41 closed

[2019-01-28 01:38] robaho commented on #41
2.3.2 is in the app store now. It should work with your 10.7 install.

[2019-01-28 01:55] robaho commented on #41
@Navy-Brat if you get 2.3.2 from the App Store and it works (or doesnt...) if you could report bac on this issue I would appreciate it.

[2019-01-28 09:14] 0xfadeef commented on #40
@robaho Not fixed in `2.3.2`! (I don't understand why close the issue before you make sure that bug is fixed?)

[2019-01-28 13:51] robaho commented on #40
It’s a housekeeping thing. I don’t have an old OS X to test on. But just saying it doesn’t work and not posting the log does not help.

[2019-01-28 13:55] robaho commented on #40
Please post the log or I cannot fix.

[2019-01-28 15:00] vitorgalvao commented on #38
@robaho But to finish it off, should we remove Seashore from Homebrew Cask or keep it?

[2019-01-28 15:37] robaho commented on #40
@0xfadeef can you please post and updated crash log. I removed the offending code, it must be something else. Than you.

[2019-01-28 16:36] 0xfadeef commented on #40
@robaho Afar the log for `2.3.2` is exactly the same as it's posted in top comment for `2.3.1` version. I don't have an access to my notebook right now, I can verify this in a couple of hours.

[2019-01-28 16:40] robaho commented on #40
@0xfadeef than you - I appreciate it - did you get the build from github ? If so, maybe I didn't post the correct version, because I removed the code - can't see how it would fail exactly the same way.

[2019-01-28 17:04] robaho commented on #40
@0xfadeef I posted a rebuilt 2.3.2 dmg in the releases. Please test with that, and then report back with any crash log - I'll get it working - probably trivial, but I have no way to make it fail.

[2019-01-28 20:13] 0xfadeef commented on #40
@robaho Not fixed in `2.3.2.updated`. Please check Console logs below for both versions. Honestly, I can't see any differences from `2.3.1` log.

[Seashore-2.3.2-create_image.log](https://github.com/robaho/seashore/files/2804767/Seashore-2.3.2-create_image.log)
[Seashore-2.3.2-open_image.log](https://github.com/robaho/seashore/files/2804769/Seashore-2.3.2-open_image.log)
[Seashore-2.3.2.updated-cr

[2019-01-28 21:42] robaho commented on #40
It was actually a different API, but in the same place. It should be working in 2.3.3 which I am posting to releases now. Please verify, and report back. I will leave this open until you do.

[2019-01-28 22:07] robaho commented on #40
@0xfadeef 2.3.3 is available, please let me know as soon as possible so I can update the App Store. thanks.

[2019-01-28 22:23] robaho commented on #40
@0xfadeef thanks.

[2019-01-29 00:22] #40 closed

[2019-01-29 04:18] robaho commented on #41
@navy-brat you will need version 2.3.3, 2.3.2 is broken

[2019-01-29 21:40] 0xfadeef commented on #30
Still reproducible in `2.3.3` (see crash report below). **But** it looks like this time the issue only appears before the app is being used for a while. Could not reproduce on a fresh install.

[Seashore_2019-01-30-002835_AIR.log](https://github.com/robaho/seashore/files/2809772/Seashore_2019-01-30-002835_AIR.log)

[2019-01-30 18:03] robaho commented on #30
I am going to attempt one last fix to this in the next release. I honestly believe it is a bug in your installed OS version, because it is not being reported anywhere else - but I'll give it a try.

[2019-01-31 22:23] robaho commented on #30
@0xfadeef Can you find another app that uses rulers? Possibly Pages with rulers turned on, and see if it fails when trying to close the window ?

[2019-02-01 05:33] robaho commented on #30
@0xfadeef  Hi. I posted a 2.3.4.beta.dmg in the 2.3.3 releases. Can you please pull it down and see if it fixes this issue? Thanks for your help.

[2019-02-01 16:48] robaho opened #42 "layer views are not working correctly"
a smaller layer on top of a larger one, should still show the larger layers as background unless the 'layer check' is off. It appears to be showing the image based on the currently selected layer size.

[2019-02-01 21:43] 0xfadeef commented on #30
@robaho I need some time to check if it's fixed, as I wrote the issue is not reproducible on a fresh install. I'll try to report asap.

[2019-02-01 22:15] robaho commented on #42
fixed in 2.3.4. The problem arose from using NSColor colorWithAlphaComponent on systems colors - like windowBackgroundColor - it ends up returning nil.

[2019-02-01 22:15] #42 closed

[2019-02-03 10:17] 0xfadeef commented on #30
@robaho Not reproducible on version `2.3.4`.

[2019-02-03 16:43] robaho commented on #30
Great. Thanks for helping.

[2019-02-03 16:43] #30 closed

[2019-02-11 12:12] ladobz opened #43 "unable to select any tools other than rect select"
Hi there, just downloaded new version from app store. I cannot seem to use any tools except the rectangle select tool. When I select any other tool, the icon is greyed as if selected but only the rectangle select is active. Any advice? Thanks!

[2019-02-12 00:35] robaho commented on #43
@ladobz I’m so sorry to hear that. I had that issue once during development and could not repeat it, so I figured it was a temporary bug that was fixed during the refactoring.

What version of OS X are you running? Also, can you check the console log to see if there are any messages you can paste here? Thanks for your help.

[2019-02-12 08:49] ladobz commented on #43
Hi Robert
Thanks for getting back to me
I’m running El Capitan 10.11.16
Installed and re-downloaded from the app store, rebooted laptop too but that hasn’t fixed it
Please find the console log attached (haven’t used console before, hope I’ve sent the right stuff). The message that seems to point to the issue is also below
Thanks again!

12/02/2019 08:43:53.568 Seashore[779]: -[NSSegmentedControl t

[2019-02-12 19:41] robaho commented on #43
Thank you so much. It looks like I should be able to resolve it with this. Unfortunately not until the weekend. If you’re in a bind the earlier dmg for 2.2.0 may get you by available here in the releases section.

[2019-02-13 07:58] ladobz commented on #43
Thank you Robert. I am using an earlier version at the moment. Hope it works out over the weekend

On 12 Feb 2019, at 19:41, robert engels <notifications@github.com<mailto:notifications@github.com>> wrote:

Thank you so much. It looks like I should be able to resolve it with this. Unfortunately not until the weekend. If you’re in a bind the earlier dmg for 2.2.0 may get you by available here in th

[2019-02-15 02:29] YongLiedu opened #44 "SVG Importer does not support Xcode V10.1?"
Hi, how can I compile the plug-in SVG Importer using Xcode v10.1?

![image](https://user-images.githubusercontent.com/24246903/52830627-8018fa80-310c-11e9-80a9-7cc2afd00150.png)

[2019-02-15 04:06] robaho commented on #44
I don’t know and haven’t tried. The next release has built in svg loading so the plugin is not required.

[2019-02-15 05:51] YongLiedu commented on #44
Great! Thank you very much.

[2019-02-18 00:58] robaho commented on #44
This should work correctly in version 2.4.0 which is available in releases, and should be available in the app store shortly.

[2019-02-18 00:58] #44 closed

[2019-02-18 00:59] robaho commented on #43
@ladobz This should be working correctly in version 2.4.0 which is available in releases and should be available in the app store shortly. Please test and report back. Thanks !

[2019-02-18 23:02] robaho commented on #43
@ladobz did you by chance have a chance to test version 2.4.0 ?

[2019-02-18 23:11] ladobz commented on #43
I had some trouble opening the dmg earlier but have tried again and it works now, thank you!
Do you know when it will be on app store?

On 18 Feb 2019, at 23:02, robert engels <notifications@github.com<mailto:notifications@github.com>> wrote:

@ladobz<https://github.com/ladobz> did you by chance have a chance to test version 2.4.0 ?

—
You are receiving this because you were mentioned.
Reply to th

[2019-02-19 00:16] robaho commented on #43
I just received notice that v 2.4.0 is available in the App Store. I am going to close this issue.

[2019-02-19 00:16] #43 closed

[2019-02-19 00:18] robaho commented on #43
Sometimes it takes a while to show up in your App Store though... just make sure you see version 2.4.0

[2019-03-05 05:28] robaho opened #45 "pdf files do not open"
as a work-around, need to open with Preview and save as an image... sorry.

[2019-03-27 03:55] Major1ty opened #46 "Corrupted file?"
I downloaded seashoredmg.dmg from the SourceForge page at https://sourceforge.net/projects/seashore/

However, attempting to open it generates a warning: "no mountable file systems"

This usually means a corrupted download, but repeating the download had no effect. Is the original corrupted at SourceForge, perhaps?

[2019-03-27 12:08] robaho commented on #46
Only the old 0.x version is valid at sourceforge. The latest should open with a readme asking the user to get it from the App Store. You can download DMGs from GitHub (here) under the ‘releases’.

[2019-03-27 12:08] #46 closed

[2019-04-04 18:32] Ivgoneriding opened #47 "Greyscale jpg opening as alpha channel only"
I am trying to open a digital radiograph image, which is greyscale and i only see the alpha channel. If I select primary channel only, I see a black square with nothing else in it:
![Screen Shot 2019-04-04 at 19 31 06](https://user-images.githubusercontent.com/49288040/55579467-344c0000-5710-11e9-859c-d908295395d1.png)
Image should look like this:
![Screen Shot 2019-04-04 at 19 31 29](https://user

[2019-04-04 18:48] robaho commented on #47
Can you attach the image to this issue.  I think you can protect it if need be or send it to me directly.

[2019-04-04 18:52] Ivgoneriding commented on #47
Original and png export attached

Kind regards

Vikki

Vikki Fear DEP MEPA
ep@vikkifear.co.uk
07986711310

On 4 Apr 2019, at 19:48, robert engels <notifications@github.com> wrote:

Can you attach the image to this issue. I think you can protect it if need be or send it to me directly.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub <https:

[2019-04-04 20:05] robaho commented on #47
I don’t think you can reply to the email with the attachments. You need to comment in the incident on GitHub and attach them there.

[2019-04-04 20:07] robaho commented on #47
I say this because I think the image in the original comment may be a screenshot? If it is the actual image just let me know.

[2019-04-04 20:12] Ivgoneriding commented on #47
The image is a screenshot. I'll try adding it later. I don't have my github password to hand.

⁣Regards,

Vikki

Vikki Fear  DEP MEPA
07986711310
ep@vikkifear.co.uk​

-------- Original Message --------
From: robert engels <notifications@github.com>
Sent: Thu Apr 04 21:07:13 GMT+01:00 2019
To: robaho/seashore <seashore@noreply.github.com>
Cc: Ivgoneriding <seashore@ivegoneriding.co.uk>, Author <aut

[2019-04-04 21:04] Ivgoneriding commented on #47
![20190403 LFL](https://user-images.githubusercontent.com/49288040/55588435-aa0e9680-5725-11e9-950a-a99aef21d3bf.jpg)
Original image

[2019-04-04 21:11] robaho commented on #47
Great. That should be fine.

[2019-04-05 00:22] robaho commented on #47
That image opens fine for me. Can you try downloading it from here, and see if it opens for you ? It may be that github corrected it when attaching. You can try sending the image to me directly at robaho@me.com

[2019-04-05 08:59] Ivgoneriding commented on #47
I get the same issue when downloading the file from here:
![Screen Shot 2019-04-05 at 09 58 09](https://user-images.githubusercontent.com/49288040/55616288-65b4e200-5789-11e9-9956-a4e7e45fb235.png)
I have emailed you the original file.

[2019-04-06 15:19] robaho commented on #45
fixed in 2.4.1

[2019-04-06 15:19] #45 closed

[2019-04-06 15:22] robaho commented on #47
Hmm. It is working fine for me. I am going to ask others to open it - also if the community could try opening this image

![](https://user-images.githubusercontent.com/49288040/55588435-aa0e9680-5725-11e9-950a-a99aef21d3bf.jpg)

and report back with OS version, etc. and if it failed or not, that would be helpful.

[2019-04-06 15:37] Ivgoneriding commented on #47
Thanks.

-------- Original Message --------
From: robert engels <notifications@github.com>
Sent: Sat Apr 06 16:22:33 GMT+01:00 2019
To: robaho/seashore <seashore@noreply.github.com>
Cc: Ivgoneriding <seashore@ivegoneriding.co.uk>, Author <author@noreply.github.com>
Subject: Re: [robaho/seashore] Greyscale jpg opening as alpha channel only (#47)

Hmm. It is working fine for me. I am going to ask ot

[2019-04-07 03:09] SimplyTheOther commented on #47
I can open it successfully from both inside Seashore and from Finder. The image appears to look exactly the same as it does on Github.

I am using Seashore Version 2.4.0 (201902170) from the App Store and macOS Mojave 10.14.4.

[2019-04-07 13:21] robaho commented on #47
@Ivgoneriding I’m beginning to think this is a problem specific to your setup. Do you know how to use ‘Console’ to inspect the logs? Maybe have that open while you try to open the image and see if it reports anything interesting? It could be that I broke something so that i5 doesn’t work on 10.11 and I am reviewing the code for that as well. Still trying...

[2019-04-16 18:25] Navy-Brat opened #48 "Is there a OS X or 10.6.8 or 10.7.5 version of SeaShore?"
First off, I wanted to thank you all for your wonderful work on SeaShore. It's a real dedication. I'm sad though as I've been unable to run any of the new SeaShores (the 0.6.6 versions or 2.4.0) on my 2009 13" 2.13 Ghz White MacBook (Model #A1181) running either 10.7.5 and 10.6.8. It's 64-bit computer. Is there a version available other than 0.5.1? Thank you.

I downloaded seashore-bin-0.6.6.dmg f

[2019-04-17 00:54] robaho commented on #48
@Navy-Brat you're welcome. The 0.6.6.hfs.dmg is the version you need. The only thing I can suggest is to install that version (use Spotlight to make sure there are no Seashore.app instances anywhere on your machine first), and then if it fails to start, use the 'Console' to watch for any errors from Seashore and report them here and maybe there is something I can do.

I don't even think I can inst

[2019-04-17 03:31] robaho commented on #48
@Navy-Brat actually, the version in the App Store 2.4.0 should work on 10.7.5. If it crashes, and you 'report failure' to developer I should be able to fix it. If not, again you'll need to use the console to record the errors as to why it is failing and paste them here.

[2019-04-22 09:11] Navy-Brat commented on #48
Thanks Robaho. You're very kind.

To make it easier, let's take one at a time: Seashore 0.6.6hfs first.

On my OS X 10.7.5 MacBook, I removed  all instances of Seashore 0.5.1, 0.6.6 HFS, and 2.40 rebooted and downloaded a fresh copy of seashore-bin-0.6.6.hfs.dmg from your website: https://sourceforge.net/projects/seashore/files/v0.6.6%20-%20legacy%20version%20-%20before%2010.7/ I double-clicked th

[2019-04-24 01:04] robaho commented on #48
@Navy-Brat I am thinking you only have a 32 bit computer ? I am sorry then, there is no way for me to build & test - it is 64 bit only at this point. Please verify that is the case ?

[2019-04-24 11:46] Navy-Brat commented on #48
No. As I mentioned, I have a 2009 13" 2.13 Ghz White MacBook (Model #A1181) running 10.7.5 with 2Gb of ram. It's 64-bit.

[2019-04-24 12:35] robaho commented on #48
Ok. I am still working on getting access to a 10.7.5 install.

[2019-04-27 08:01] Navy-Brat commented on #48
Thank you Mr. Engels. That's very kind of you.

Sincerely,

Steve Graanet
Marina43182@outlook.com<mailto:Marina43182@outlook.com>

On Apr 24, 2019, at 5:35 AM, robert engels wrote:

Ok. I am still working on getting access to a 10.7.5 install.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/robaho/seashore/issues/48#issuecomm

[2019-04-28 23:20] robaho commented on #48
@Navy-Brat  version 2.4.1 available in the 'releases' should work on 10.7.5

I was able to install OSX 10.7.5 in a VM to figure out what the problem was.

[2019-04-28 23:20] #48 closed

[2019-04-28 23:26] robaho commented on #47
@Ivgoneriding I've been able to duplicate the issue - it seems older versions of OSX cannot work with grayscale with alpha channels.

Which version of OSX are you using ?

[2019-04-29 00:31] robaho commented on #47
@Ivgoneriding this is fixed in version 2.4.2 - it is available here in 'releases' and will be in the App Store soon

[2019-04-29 00:31] #47 closed

[2019-04-29 02:07] robaho opened #49 "grayscale image operations do not work on older OSX"
similar in cause to issue #47

[2019-04-29 02:19] robaho opened #50 "layer thumbnails are upside down"

[2019-04-29 02:24] robaho commented on #50
fixed in 2.4.3

[2019-04-29 02:24] #50 closed

[2019-04-29 02:25] robaho commented on #49
The graphics context does not support gray with alpha for rendering.

[2019-05-04 12:54] robaho opened #51 "better rendering of brushes/pencils in recents on older OSX"

[2019-05-07 22:47] follower commented on #46
Side note: These days a  "no mountable file systems" error often means that the `.dmg` file was created on a version of macOS that defaults to `APFS` format rather than `HFS+` as supported by older OS versions.

(The default disk format that `hdiutil` creates (silently) depends on the format of the source drive rather than being specified explicitly--which leads people to not realise they've creat

[2019-05-07 23:25] emclain opened #52 "Support for reading HEIC and HEIF image files"
Apple's preferred image format is now HEIC (High-Efficiency Image Container - https://www.tomshardware.com/news/how-to-open-heic-file,36733.html) files rather than PNG or JPG.  In particular, iOS's camera app now uses this format by default, and macOS Photos and Preview can handle it natively.

It would be nice if Seashore could also read them natively.

[2019-05-08 00:12] robaho commented on #46
@follower Thanks. I had already corrected this - the current builds of the dmg are HFS+. I also went back and converted the 0.6.6 version to HFS+ on Sourceforge.

[2019-05-08 18:22] follower commented on #46
Yeah, I didn't make clear that I'd realised you'd already remedied the situation--my primary intention was to provide some addition context for @Major1ty in case they encountered the situation again with a different project. :)

BTW, thanks for your work on "resurrecting" Seashore--I was very surprised when I got an update notification the other day! I've found it a nice lightweight & fast loading

[2019-05-10 13:29] SimplyTheOther opened #53 "Layer pane/sidebar colouration issue"
On my Mac (macOS Mojave 10.14.4 mid-2012 MacBook Pro), Seashore's layer pane background is black in both "light" mode and "dark mode". The old Seashore's wasn't, and I thought it might have been simply an aesthetic choice, but I noticed that your screenshot doesn't have this issue. I think you mentioned before that your computer didn't support dark mode, so that could be the root of it.

Here's a

[2019-05-11 17:18] robaho commented on #52
fixed in 2.4.3. It supports reading and writing. The write compression works amazingly well. Only supported on OSX 10.13.4+. Also, only HEIC files, not HEIF.

[2019-05-11 17:18] #52 closed

[2019-05-11 17:19] robaho commented on #53
I agree, and am working on fixing. It only happens in Mojave - so hard for me to fix/debug.

[2019-05-11 17:20] #51 closed

[2019-05-11 19:44] robaho commented on #53
@SimplyTheOther maybe you can help me out, if you use the painting tools, do the brushes/pencils appear properly in the 'recents' pane ?

[2019-05-12 06:13] SimplyTheOther commented on #53
I'm not sure what the 'recents' pane is meant to show, but nothing appears for me after drawing with a brush, changing brush sizes and drawing with the new size, changing to pencil and drawing with that, changing brush to wood texture and drawing with it, changing back to pencil and drawing with the wood texture (or a colour from it or something), etc.

I took a video to illustrate this with as ma

[2019-05-12 13:34] robaho commented on #53
@SimplyTheOther thank you for the video. It confirms what I saw previously - not sure what is different on the machine where the original screenshots were taken - but I am in the process of installing a Mojave VM so I should be able to fix it.

[2019-05-16 04:23] robaho opened #54 "recents bar does not work under mojave"
I believe it is because we have alternating colors enabled and using 'legacy' mode, but it may be that the view hierarchy is messed up and a pane is drawing over it

[2019-05-16 04:24] robaho opened #55 "brushes require light background even in Mojave dark mode"
It makes it not really "dark"... Also, it messes up with the recents when in dark mode too.

[2019-05-16 05:51] robaho commented on #53
fixed in 2.4.3

[2019-05-16 05:51] #53 closed

[2019-05-16 05:53] robaho commented on #54
fixed in 2.4.3. Mojave requires the NSCollectionView to have a parent layer with core animation enabled

[2019-05-16 05:53] #54 closed

[2019-05-17 01:06] robaho commented on #55
fixed in 2.4.3. similar fix to tint the template images for the pencil and bucket in recents.

[2019-05-17 01:06] #55 closed

[2019-05-17 14:14] ladobz commented on #43
Hi Robert,
I’ve been trying to use the channels today but when I try to copy and paste into the alpha channel of a layer, seashore either crashes or the image that is pasted is incorrect (a small, fuzzy area is all I get).
I’m running El Capitan 10.11.16
I have attached some info from console, including the crash report.
Can you help?
Thank you.

[2019-05-17 15:50] robaho commented on #43
@ladobz please open another bug for this issue, including the supporting crash logs, etc.

[2019-05-17 23:07] robaho opened #56 "pasting into alpha channel editing causes crash"
reported by @ladobz and I've been able to reproduce

[2019-05-17 23:25] robaho commented on #43
@ladobz see issue #56

[2019-05-17 23:27] robaho commented on #56
fixed in 2.4.4

[2019-05-17 23:27] #56 closed

[2019-05-25 12:45] robaho opened #57 "convert selection to grayscale & cmyk loses alpha"

[2019-05-26 16:30] RemiZajac opened #58 "Font color selection doesn't work"
When selecting a font color other than the black default, the text stays black doesn't switch to the selected color. Version 2.4.4 (2019051701) running on Mac OS 10.12.6.

[2019-05-26 19:16] robaho commented on #58
@RemiZajac This is working fine for me. Did you change the foreground color using the color chooser in the toolbar ? You have to ensure the last color change you made was the foreground - or the 'color chooser' from the font panel will be changing the background color instead.

Also, it only changes it in the content panel, not the text area.

The only other thing I can think was that maybe you we

[2019-05-26 19:16] #58 closed

[2019-05-26 22:04] RemiZajac commented on #58
Ha yes, works, forgot to change the foreground color...

________________________________
From: robert engels <notifications@github.com>
Sent: Sunday, May 26, 2019 12:16 PM
To: robaho/seashore
Cc: RemiZajac; Mention
Subject: Re: [robaho/seashore] Font color selection doesn't work (#58)

@RemiZajac<https://github.com/RemiZajac> This is working fine for me. Did you change the foreground color using

[2019-06-05 03:54] robaho commented on #57
fixed in 2.4.5

[2019-06-05 03:54] #57 closed

[2019-06-06 01:22] robaho opened #59 "implement multi-threaded compositing for improved performance"
The compositing is ideally suited for concurrent operation, as the area can be composed of multiple subareas - each composited separately.

[2019-06-11 03:41] robaho commented on #59
fixed in 2.4.5

[2019-06-11 03:41] #59 closed

[2019-06-11 03:41] robaho opened #60 "improve performance by optimizing paint tools"

[2019-06-11 04:14] robaho commented on #60
fixed in 2.4.5

improved the low-level 'special merge'

[2019-06-11 04:14] #60 closed

[2019-06-14 00:22] robaho opened #61 "using text with larger fonts near edges causes crash with text tool"
Thread 0 Crashed:
0   app.seashore                  	0x0000000103cac1d0 -[TextTool drawOverlay] (in Seashore) (TextTool.m:121)
1   app.seashore                  	0x0000000103cacf68 -[TextTool preview:] (in Seashore) (TextTool.m:203)
2   app.seashore                  	0x0000000103cade2a -[TextOptions changeFont:] (in Seashore) (TextOptions.m:86)
3   app.seashore                  	0x0000000103cea598

[2019-06-14 00:23] robaho opened #62 "selection flip causes crash"
Thread 0 Crashed:
0   libobjc.A.dylib               	0x00007fff73d8a56c objc_retain + 28
1   app.seashore                  	0x00000001001c3bdf -[SeaFlip standardFlip:] (in Seashore) (SeaFlip.m:90)
2   app.seashore                  	0x0000000100176d08 -[SeaProxy flipHorizontally:] (in Seashore) (SeaProxy.m:308)
3   com.apple.AppKit              	0x00007fff46fb3844 -[NSApplication(NSResponder) sendA

[2019-06-14 00:25] robaho opened #63 "crash when updating cursors and no active layer"
Application Specific Backtrace 1:
0   CoreFoundation                      0x00007fff3dbcacf9 __exceptionPreprocess + 256
1   libobjc.A.dylib                     0x00007fff6875aa17 objc_exception_throw + 48
2   CoreFoundation                      0x00007fff3dbf13e9 __CFArrayCopyDescription + 0
3   Seashore                            0x000000010b5c39cc -[SeaContent activeLayer] (in Seashore) (SeaCon

[2019-06-14 00:26] robaho opened #64 "crash when cropping layer"
VM Regions Near 0:
-->
    __TEXT                 000000010f45a000-000000010f522000 [  800K] r-x/rwx SM=COW  /Applications/Seashore.app/Contents/MacOS/Seashore

Thread 0 Crashed:
0   libsystem_platform.dylib      	0x00007fff766a1969 _platform_bzero$VARIANT$Haswell + 41
1   app.seashore                  	0x000000010f473bc9 -[SeaWhiteboard readjustLayer] (in Seashore) (SeaWhiteboard.m:309)
2   app.s

[2019-06-14 00:27] robaho opened #65 "selecting using rounded rect causes crash"
VM Regions Near 0:
-->
    __TEXT                 00000001075d5000-000000010769d000 [  800K] r-x/rwx SM=COW  /Applications/Seashore.app/Contents/MacOS/Seashore

Thread 0 Crashed:
0   libsystem_platform.dylib      	0x00007fff7eb9cc69 _platform_bzero$VARIANT$Haswell + 41
1   app.seashore                  	0x000000010762f9bc -[SeaSelection updateMaskFromPath:selectionRect:mode:] (in Seashore) (SeaSel

[2019-06-14 00:29] robaho opened #66 "crash when changing channel editing when using mask and primary/alpha channels only"
Exception Type:        EXC_BAD_ACCESS (SIGSEGV)
Exception Codes:       KERN_INVALID_ADDRESS at 0x0000000114e6d7f9
Exception Note:        EXC_CORPSE_NOTIFY

Termination Signal:    Segmentation fault: 11
Termination Reason:    Namespace SIGNAL, Code 0xb
Terminating Process:   exc handler [15576]

VM Regions Near 0x114e6d7f9:
    MALLOC_LARGE           0000000113b53000-0000000114de5000 [ 18.6M] rw-/r

[2019-06-14 00:30] robaho opened #67 "bucket fill causes crash"
VM Regions Near 0x10db6fecf:
    Accelerate framework   000000010db45000-000000010db65000 [  128K] rw-/rwx SM=PRV
-->
    MALLOC_LARGE           000000010db79000-000000010dbb4000 [  236K] rw-/rwx SM=PRV

Thread 0 Crashed:
0   app.seashore                  	0x0000000106d0d4c5 shouldFill (in Seashore) (Bucket.m:26)
1   app.seashore                  	0x0000000106d0d0c9 bucketFill (in Seashore) (Bucke

[2019-06-14 00:31] robaho opened #68 "crash with clone tool when selected but not used"
Thread 0 Crashed:
0   app.seashore                  	0x000000010efeec37 -[CloneTool endLineDrawing] (in Seashore) (CloneTool.m:476)
1   app.seashore                  	0x000000010efd19b7 -[SeaHelpers endLineDrawing] (in Seashore) (SeaHelpers.m:0)
2   app.seashore                  	0x000000010ef8574b -[SeaView flagsChanged:] (in Seashore) (SeaView.m:1265)
3   com.apple.AppKit              	0x00007ff

[2019-06-14 01:28] robaho commented on #62
fixed in 2.4.5 - seems like an ARC compiler error

[2019-06-14 01:28] #62 closed

[2019-06-14 02:15] robaho commented on #68
fixed in 2.4.5

[2019-06-14 02:15] #68 closed

[2019-06-14 02:33] robaho commented on #63
fixed in 2.4.5

[2019-06-14 02:33] #63 closed

[2019-06-20 01:19] robaho commented on #61
fixed in 2.4.5

The code was not handling the case where the ascent on a large font could make the positioning negative.

[2019-06-20 01:19] #61 closed

[2019-06-20 04:17] robaho opened #69 "crash when scaling with position tool and primary or alpha channels only"
#0	0x0000000100058ef0 in -[SeaWhiteboard forcedChannelUpdate:] at /Users/robertengels/seashore/Seashore/source/display/SeaWhiteboard.m:423
#1	0x0000000100061806 in -[SeaWhiteboard forcedUpdateWithRect:] at /Users/robertengels/seashore/Seashore/source/display/SeaWhiteboard.m:631
#2	0x000000010005f7cf in __29-[SeaWhiteboard forcedUpdate]_block_invoke at /Users/robertengels/seashore/Seashore/source/d

[2019-06-20 04:18] robaho commented on #69
This may only occur in the 2.4.5 update.

[2019-06-23 23:55] robaho opened #70 "attempting to draw extras crashes when no active layer"
I think when a users changes some system display settings, it call into the drawing when there is not active layer, which causes a crash (since there should always be an active layer).

[2019-06-23 23:58] #70 closed

[2019-06-24 00:00] robaho commented on #70
hopefully fixed in 2.4.7

[2019-06-24 00:14] robaho opened #71 "loading image with 0 height or width causes crash"

[2019-06-25 00:22] robaho commented on #71
fixed in 2.4.6

[2019-06-25 00:22] #71 closed

[2019-07-04 19:11] robaho opened #72 "selection modifiers do not work with rect and ellipse"
For example, use 'add to selection' uses the wrong location.

[2019-07-04 19:13] robaho opened #73 "scaling selection while partially hidden corrupts mask"
The is the mask selection and partially hidden and it is scaled, it will distort the mask.

[2019-07-04 20:32] robaho commented on #64
fixed in 2.4.7

[2019-07-04 20:32] #64 closed

[2019-07-04 20:33] robaho commented on #73
fixed in 2.4.7

[2019-07-04 20:33] #73 closed

[2019-07-04 20:33] robaho commented on #65
fixed in 2.4.7

[2019-07-04 20:33] #65 closed

[2019-07-05 12:25] robaho commented on #72
Fixed in 2.4.7

[2019-07-05 12:25] #72 closed

[2019-07-17 04:00] robaho opened #74 "'copy image' crashes when selection and layer is offset"

[2019-07-17 04:03] robaho commented on #74
fixed in 2.4.8

[2019-07-17 04:03] #74 closed

[2019-07-18 23:38] robaho opened #75 "crash when blur drag exceeds boundaries"
The sub sampling calculations are creating indexes out of bounds.

[2019-07-18 23:39] robaho commented on #75
fixed in 2.4.9

[2019-07-18 23:39] #75 closed

[2019-07-29 13:21] lfom opened #76 "Weird gray outline in PNG images with transparency"
First, thank you for this nice app, I have been using for a long time, long before it was in the App Store. I don't use it very often, but recently I noticed that there is a weird gray outline in PNGs with transparency that actually does not exist in the original image, but it shown in SeaShore, and it also remains if the image is saved. Please see the attached image of the same PNG opened in Prev

[2019-07-29 22:52] robaho commented on #76
Can you please attach the original png image file? Thanks.

[2019-07-29 23:52] robaho commented on #76
@lfom The image file is very important, because In reviewing the photos, I think it may just be the transparency on top of the 'selected color'. With the original png file I will be able to determine for certain.

[2019-07-30 00:44] lfom commented on #76
Sure, no problem! Feel free to ask any more info. Thanks.

![sunrise](https://user-images.githubusercontent.com/15659999/62092030-0d2eb680-b24a-11e9-9a70-c2f74a32fb54.png)

[2019-07-30 00:58] robaho commented on #76
I have been able to reproduce. Thank you for reporting this - it is a serious problem.

[2019-07-30 04:44] robaho commented on #76
Thanks for reporting this. Fixed in 2.4.9. For maintainers, layers are not pre-multiplied, whiteboard is pre-multiplied.

[2019-08-03 01:17] dakosek opened #77 "Dark Mode Control Missing"
I am running Version 2.4.9 (2019073001) and can't find a control for dark mode anywhere.  Where can I turn it on?  You need to add this information to the front page.

BTW... Great job on the updates!

Dan

[2019-08-03 02:23] robaho commented on #77
Dark mode is only available when running Mojave or later. It is based on your OS setting.

[2019-08-03 12:23] robaho commented on #77
Closing as there is nothing I can do... You need to have Mojave for 'dark mode' - there's a chance I could manually add it, but it's a lot of work...

[2019-08-03 12:23] #77 closed

[2019-08-21 12:06] KlaraPromociones opened #78 "if seashore can't read file, it won't open"
The program worked fine for a while.
Now I cannot open. No error message prompts.
The icon seems to appear at the dock of my McBook Air for a fraction of a second and then disappears again.
I tried to uninstall and reinstall, restarted the computer.
Seashore stopped working.

[2019-08-21 12:16] robaho commented on #78
This can be caused because the last opened document is causing it to crash. I am working on a fix for that, but in the meantime do you know how to use the Console to view the log?if you could paste the crash information here I might be able to help? Also, did you download from the App Store? Are you using the crash reporter? Sorry for the problems.

[2019-08-21 12:22] robaho commented on #78
If you delete the Seashore preferences file you should be able to open it.

[2019-08-21 12:24] robaho commented on #78
I think the easiest way will be to hold down the shift key while opening Seashore - this should stop it from trying to restore the previous files.

[2019-08-22 03:11] robaho commented on #78
fixed in 2.4.10 - be more defensive in opening images

[2019-08-22 03:11] #78 closed

[2019-08-29 02:34] lfom opened #79 "Weird grid (too small) when moving a layer after zooming in"
Hello! It's me again, with another bug report.

Since a while back (I don't know exactly when) the yellow grid shown when moving a layer has a space so small that it's hard to see the image/background. It only happens after you zoom in a little (therefor it makes really hard to work with small images). This happens in the latest version as well (downloaded today from AppStore). Please see the atta

[2019-08-29 02:50] robaho commented on #79
I am able to reproduce. I will look into it. Probably not until the weekend. Thanks for reporting.

[2019-08-30 01:24] robaho commented on #79
fixed in 2.4.11. The path from the zoom pixel guides was not being reset for the position guides. It only occurred when the zoom was greater than 2

[2019-08-30 01:24] #79 closed

[2019-09-24 05:18] robaho commented on #69
duplicate of #66

[2019-09-24 05:18] #69 closed

[2019-09-25 19:02] RemiZajac opened #80 "Cannot export as TIFF?"
Export XCF as JPEG works, but I'm getting an error when exporting as TIFF:

        "The document cannot be exported as TIFF. The file doesn't exists."

![Screen Shot 2019-09-25 at 11 34 11](https://user-images.githubusercontent.com/51056148/65631399-4e162380-df8c-11e9-8ebe-a0275bf50aad.png)

[2019-09-26 03:55] robaho commented on #80
fixed in 2.4.12

The bitmap image settings were incorrect so the file could not be saved.

[2019-09-26 03:55] #80 closed

[2019-09-26 05:20] robaho commented on #66
fixed in 2.4.12

[2019-09-26 05:20] #66 closed

[2019-09-26 05:22] robaho opened #81 "edit cut,paste and delete are not available when editing primary/alpha channel"
for some reason these are grayed out - but pressing the delete key works for deletion

[2019-09-26 16:36] RemiZajac commented on #80
Works, thanks Robert.

________________________________
From: robert engels <notifications@github.com>
Sent: Wednesday, September 25, 2019 8:55 PM
To: robaho/seashore <seashore@noreply.github.com>
Cc: RemiZajac <remizajac@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [robaho/seashore] Cannot export as TIFF? (#80)

Closed #80<https://github.com/robaho/seashore/issues/80>.

—
You are

[2019-09-27 00:29] robaho commented on #81
fixed in 2.4.12

[2019-09-27 00:29] #81 closed

[2019-10-02 05:59] hruettimann opened #82 "Straight Line modifier not working"
The "Draw Straight Lines" modifier for Pencil or Brush doesn't seem to make a difference. I engaged the modifier using the keyboard shortcut with the shift key and shift+ctrl key combination, but also selecting the modifier with the pulldown menu didn't make any difference. I am using Seashore on macOS Mojave 10.14.6, maybe the added security features in Mojave are somehow involved in this?

[2019-10-02 19:17] robaho commented on #82
I will look into it this evening. Thanks for reporting.

[2019-10-02 23:21] robaho commented on #82
OK, it is working fine for me. I think you might not understand how it works (it works differently than many drawing apps). You use the modifier - click a point, then click another point - and it will draw a straight line between them. Most often you want to use the 45 degree option, as that will draw a line closest to the 45 degree increment (so easiest to draw horizontal and vertical lines).

Re

[2019-10-02 23:21] #82 closed

[2019-10-03 06:18] hruettimann commented on #82
Good morning Robert Engels

Sorry, you are right of course, it is working perfectly.
I am just so used to the "snapping behaviour" commonly used by other graphic or video applications that it just didn't occur to me that it could be implemented differently.
Now I know!

All the best,
Hannes

[2019-10-05 19:54] ARobinW opened #83 "Won't close for logout."
MacOS High Sierra v 10.13.6 on iMac 21.5-inch , Late 2009.
"An app has interrupted logout.
  To continue logging out, click to Try Again."
Does not appear as Seashore in Activity Monitor, so tough to decide what to do, apart from switch off and switch on again !

[2019-10-05 19:55] ARobinW commented on #83
However, it was really nice to use and did the job I needed it for, which I could not do in Preview.
Nice to have - switch off afterwards !

[2019-10-05 19:58] robaho commented on #83
I am pretty sure it is not Seashore if it is not listed in the Activity Monitor. This would be the only ever report of this. If it was Seashore, are you certain it did not have a dialog up (maybe asking you to save changes?)

[2019-10-05 19:59] robaho commented on #83
Maybe you can provide additional details - like if it is not appearing in Activity Monitor, why are you certain it is Seashore? Thanks for your help.

[2019-10-05 20:10] ARobinW commented on #83
Because the logo appears in the window of running apps on Cmd+Tab, as attached.
![Seashore-present](https://user-images.githubusercontent.com/56200385/66260271-4f2d2900-e7b4-11e9-9d28-62a274b1d51a.png)
When you click on it, the Seashore menu appears on the menu bar.  It works too, I can e.g. open recent files.  However, File > Quit is greyed out.

[2019-10-05 20:13] ARobinW commented on #83
![NoSeashore-in-monitor](https://user-images.githubusercontent.com/56200385/66260311-f27e3e00-e7b4-11e9-8b76-2ca8b9f18d07.png)
Here's the relevant part of the Activity Monitor in Process Name order.

[2019-10-05 20:15] ARobinW commented on #83
OK, I'll switch off until tomorrow
Thanks for your feedback
Regards
Robin

[2019-10-05 20:46] robaho commented on #83
Can you possibly look in the 'Console' application and see if Seashore is generating any errors? If you just open Seashore and don't do anything, can you use quit? Under the 'window' menu in Seashore, do you see any open files listed? Thanks for your help.

[2019-10-05 20:59] ARobinW commented on #83
Switched back on. Nothing in Console for search 'Seashore'.
Launch Seashore, Console now says:
"default	21:56:21.157479 +0100	launchservicesd	CHECKIN:0x0-0x34034 939 app.seashore
default	21:56:21.657544 +0100	Seashore	Could not find image named 'warning'.
default	21:56:31.238114 +0100	Seashore	LSExceptions shared instance invalidated for timeout.
default	21:56:31.617988 +0100	Seashore	Loading plug

[2019-10-05 21:02] ARobinW commented on #83
However, as you suspected, Seashore > Quit Seashore is not greyed out to start with.
It's still OK after I Open Recent file.  Console now adds:
"default	21:59:10.808855 +0100	com.apple.WebKit.Networking	[26 <private> stream, pid: 806, url: https://github.com/robaho/seashore/issues/83/show_partial?partial=issues%2Fsidebar, tls] cancelled. Events:
default	21:59:59.451498 +0100	com.apple.WebKit.Netwo

[2019-10-05 21:03] ARobinW commented on #83
Closed file and Quit Seashore OK.
Console added:
"default	22:01:55.419604 +0100	Seashore	Removing presenter A0826D5F-9C30-49EA-96EB-5E6CAAF143D5
default	22:01:55.419714 +0100	Seashore	Removing presenter A0826D5F-9C30-49EA-96EB-5E6CAAF143D5
"
So it seems OK now from a user viewpoint.

[2019-10-05 21:08] ARobinW commented on #83
Anyway, as mentioned, I am really impressed by the intuitive ease of use and the fact that I was struggling to join images together into a larger whole any other way (I have done it with access to PhotoShop, but that was quite a clunky procedure.)  Plus Seashore has fine control and layers.  It is really nice, thank you.
Of course I am also impressed by your speedy response !  I never experienced

[2019-10-05 21:14] robaho commented on #83
@ARobinW thanks for the kind words -a bit of a lazy saturday here, so easy to respond - not always the case. It may be a specific file or order of operations that you do. If you can find the time and can narrow it down I would appreciate it. If you nor I can consistently cause it to happen (I can't...), it is very hard to fix.

[2019-10-05 21:19] ARobinW commented on #83
OK Robert.

I'll look out for any repetition & send details if it occurs.
I had several other apps open & that will be the case again, so maybe... Hopefully not.

Regards

Robin
On Saturday, 5 October 2019 robert engels <reply@reply.github.com> wrote:

@ARobinW thanks for the kind words -a bit of a lazy saturday here, so easy to respond - not always the case. It may be a specific file or order of

[2019-10-26 21:52] esterluss commented on #83
I do have the same problem and I'm afraid that I'm not familiar with console etc. I mean, I know what that is but I'm just a user no coder. Seashore seems to be stuck in the 'create a new project' mode. It's in my dock, I see the icon and that it's active (blue dot) and when I click on it, it says that I should open a new or existing project. If I do, I can't quit seashore, it's greyed out. I can'

[2019-10-26 21:55] esterluss commented on #83
![Bildschirmfoto 2019-10-26 um 23 54 19](https://user-images.githubusercontent.com/57049320/67626464-fd743d80-f84b-11e9-9ef4-066a2d7f297c.png)
This is what I see.

[2019-10-27 04:31] robaho commented on #83
@esterluss what version of OSX are you running? Did you install from the App Store ?

[2019-10-27 04:42] robaho commented on #83
@esterluss also, if you open the file menu, and recents - is there anything there ? Can you open each of these files? Also - you should always be able to force-quit seashore by holding Control & Option, and clicking the icon in the dock, then choosing 'force quit'

[2019-10-27 16:14] esterluss commented on #83
I run OS Mojave, 10.14.6 and I did install from the App store, yes. I worked on several files, I see them and I seem to be able to open them from recent files. I'll try the force quit option... and it worked, thanks, I did not know that. Best from Berlin, Klaus

[2019-11-11 00:00] Joseph-Y opened #84 "Enhancement: Non-contiguous paint bucket"
I'd just like to request the feature for the paint bucket to fill non-contiguous pixels.

I checked the Help guide to confirm this is not yet a feature--sorry if I'm missing something.

[2019-11-11 19:03] robaho commented on #84
Hi @Joseph-Y, can you describe a little bit of what you want? There is a "tolerance" setting that controls how big an area is painted. You can also use the 'option' key to flood the entire layer/selection.

But, if I understand your ask correctly, it seems that in the end this would be implemented as "paint all pixels in the layer within a 'tolerance' of the clicked pixel'. Is this what you want ?

[2019-11-11 19:15] Joseph-Y commented on #84
Yes, that's the request! Currently, if you draw a black circle on an empty
canvas and then paint bucket the white pixels outside the circle, the white
pixels inside the circle don't fill because the pixels aren't contiguous. Thank
you for your consideration.

And thank you for this awesome program Robert. I use it daily as a medical
student to make and edit diagrams.

On Mon, Nov 11, 2019, 11:03 A

[2019-11-11 23:36] robaho commented on #84
@Joseph-Y One work-around that may be helpful - at least in the example of the circle - is to use the color select tool to select the circle, then use 'edit -> select inverse', then use the option key = paint bucket to perform a flood fill.

I'm looking into a code change to add an option to the color select tool to 'select all' which would do what you want.

[2019-11-13 00:39] robaho commented on #84
fixed in 2.14.13. I added an options to the 'color select wand', to 'select all regions'. So you can use this, then use the 'flood fill' with the 'bucket tool' to do what you want. This is more versatile than only adding the option to the bucket fill. @Joseph-Y

[2019-11-13 00:39] #84 closed

[2019-11-13 01:07] Joseph-Y commented on #84
Thank you so much again Robert. You rock.

On Tue, Nov 12, 2019, 4:39 PM robert engels <notifications@github.com>
wrote:

[2019-11-13 02:39] robaho commented on #84
@Joseph-Y should be available on the App Store now - let me know how it works.

[2019-11-13 03:29] Joseph-Y commented on #84
Works beautifully. Thanks again. Is there a tip jar where I can buy you a
beer?

On Tue, Nov 12, 2019, 6:39 PM robert engels <notifications@github.com>
wrote:

[2019-11-13 03:42] robaho commented on #84
@Joseph-Y just leave a good review and rating on the app store :)

[2019-11-14 05:05] robaho commented on #67
I am pretty sure this is fixed in 2.4.13. Closing and will re-open if crash reports return.

[2019-11-14 05:05] #67 closed

[2019-11-29 19:44] robaho opened #85 "crash with wand tool and bucket fill"
Seashore can crash if the starting point is outside the layer, and the 'distance' causes the seeds to be invalid.

[2019-11-29 19:49] robaho commented on #85
fixed in 2.4.14

[2019-11-29 19:49] #85 closed

[2019-11-29 21:02] robaho opened #86 "changing tool using keyboard can cause crash"
need some input from the community, since I can't make it happen but I see some reports from Apple provided crash logs

[2019-11-29 21:20] robaho opened #87 "pixmap brushes show as black and white"
In the "brush selection" they show as black and white - not sure if this is required/desired behavior.

[2019-11-29 21:25] robaho commented on #87
fixed in 2.4.14 - shows them in color

[2019-11-29 21:26] #87 closed

[2019-11-30 04:38] robaho opened #88 "smudge doesn't work with pixmap brushes"
causes a crash - need to just use the alpha channel

[2019-11-30 04:40] robaho commented on #88
fixed in 2.4.14

[2019-11-30 04:40] #88 closed

[2019-11-30 04:57] robaho commented on #83
@esterluss when the 'quit is disabled' can you use the 'window' menu and go through all of the windows to see if any have a dialog open? (this will cause quit to be disabled). Thanks.

[2019-12-01 23:37] robaho opened #89 "ability to read latest GIMP files"
Seashore can't open the latest 2.10? GIMP files.

[2019-12-01 23:38] robaho opened #90 "show image when scaling / rotating"
currently, only the grid is displayed which makes it more difficult to scale & rotate.

[2019-12-03 11:59] yao2000 opened #91 "warn when quitting and bitmap images have multiple layers"
Hi,

I am posting this message to explain my comment on App Store.

In Seashore every picture is opened as "Background" layer. I can create new layers and do some change on the new layer. But after saving file and closing Seashore, these layers are lost. Even I open the same file using Seashore, the modified picture is a whole part now and is "Background" again.

For example, I may create a rectan

[2019-12-03 12:10] robaho commented on #91
You need to save as an XCF file - this preserves the layers. The bitmap formats (png, tiff, jpg) do not support layers.

Typically you work with XCF and then ‘export as’ a bitmap file. If you start by opening a bitmap file it assumes you want to save as a bit map. If layers are added it should warn you that layers will be lost when being saved (as a bitmap). Maybe the warning is not working.

[2019-12-03 12:18] yao2000 commented on #91
I could not find XCF file..I am using macOS 10.15.1 and Seashore Version 2.4.14 (2019113001)

<img width="748" alt="Screen Shot 2019-12-03 at 8 17 14 PM" src="https://user-images.githubusercontent.com/55400169/70050465-f938fe00-1609-11ea-9e87-a66de2dfe56a.png">

[2019-12-03 12:26] yao2000 commented on #91
Hi,

I just realized that GIMP image is XCF file...Maybe there are other people who do not know this..Is it possible to give warn when layer info would be lost when closing Seashore?

[2019-12-03 12:49] robaho commented on #91
I will check on the warning. I will also change the label to GIMP/XCF.

Again, best to use ‘export as’ for bitmap and always save to XCF.

It is probably a problem for you since you are starting with a bit map file. You can also create a new XCF file then drag your file in as a layer.

[2019-12-03 19:28] SolarpunkGnome opened #92 "remember last chosen PDF import DPI"
This may be a bit of weird case, so if it doesn't warrant a change I understand, but it would be nice to have either a default setting adjustment or a box to change the DPI setting for importing files to Seashore, particularly PDFs.

I realize the idea is to keep the interface light/simple, so maybe this isn't compatible with the mission for the software. Right now, I have an XCF I use several tim

[2019-12-03 23:39] robaho commented on #92
I'll change it to remember the last import DPI, and retain this across restarts.

[2019-12-03 23:45] robaho commented on #91
I checked - it will warn you if you try to close the image. It doesn't warn you if you 'quit' and the some bitmap images have multiple layers.

[2019-12-03 23:52] robaho opened #93 "allow 1200 dpi for PDF import"
1200 is a common image DPI

[2019-12-03 23:57] SolarpunkGnome commented on #92
That would be splendid, however, I seem to be missing where one does change the import DPI to begin with. When I import, all I see is the file selection dialog. I may be missing something obvious, so I apologize for my ignorance.
![Screen Shot 2019-12-03 at 6 54 33 PM](https://user-images.githubusercontent.com/47646114/70100107-bf162f00-15fe-11ea-86a7-8281c05d4512.png)

[2019-12-04 00:17] robaho commented on #92
After you open a pdf, the resolution dialog is displayed. The 'import' for a layer currently has it disabled, and I'm fixing it there too.

[2019-12-04 00:20] SolarpunkGnome commented on #92
Ah, OK. Thank you very much! :)

On Tue, Dec 3, 2019, 19:17 robert engels <notifications@github.com> wrote:

[2019-12-04 04:06] robaho commented on #92
fixed in 2.4.15

[2019-12-04 04:06] #92 closed

[2019-12-04 04:06] robaho commented on #93
fixed in 2.4.15

[2019-12-04 04:06] #93 closed

[2019-12-04 10:56] yao2000 commented on #91
Thank you

[2019-12-07 03:07] robaho commented on #91
fixed in 2.4.15 albeit slightly differently - when saving a document and it has layers and the current format does not support layers a warning will be issued

[2019-12-07 03:07] #91 closed

[2019-12-16 05:54] robaho commented on #89
fixed in 2.4.16 - at least mostly. The basic features will work, some advanced compositing types aren't supported. Layer masks get converted to an alpha channel.

The basic problem was that XCF file version 11 starting using 64 bit offsets.

[2019-12-16 05:54] #89 closed

[2019-12-16 05:57] robaho opened #94 "save format should use XCF version 11 (GIMP 2.10.0)"
The primary difference being 64 bit offsets.

[2019-12-16 05:59] robaho commented on #94
Currently files are saved as version 2, which is normally fine, but if you did have a > 4 GB file, it would not save properly (although I don't think Seashore would open it now anyway due to size limitations)

[2019-12-17 01:23] robaho opened #95 "remove warning when exporting"
the user should not be warned about layer when using 'export as', since the file will need to saved if it has been editted

[2019-12-23 02:48] robaho commented on #95
fixed in 2.4.17. The warning dialog has been removed, and instead a 'warning' is added to the document window when the current file format does not support layers and a layer is added.

[2019-12-23 02:48] #95 closed

[2019-12-31 04:20] robaho opened #96 "crash when using texture and another document selected"
If drawing with a texture, and then another document window is selected, Seashore will most likely crash.

[2019-12-31 10:52] robaho commented on #96
fixed in 2.4.18 - the selected texture needs to be retained for each document window. The handling of tools per document needs a refactoring to simplify.

[2019-12-31 10:52] #96 closed

[2019-12-31 10:54] robaho opened #97 "refactor tools and utilities instance handling"
currently the utilities are stored in a map keyed by the document id - they should be instance properties of the document for simplicity - I think the original implementation did this to allow for lazy initialization to speed start-up but I'm not sure that is the case any more.

[2019-12-31 19:15] robaho opened #98 "color select view doesn't change with color picker if texture is previously selected"
If using a texture for drawing, then switch to the color picker, and pick a foreground color in the document, the 'current color view' in the tool bar does not update.

[2020-01-03 02:56] robaho commented on #97
fixed in 2.4.19

[2020-01-03 02:56] #97 closed

[2020-01-03 02:56] robaho commented on #98
fixed in 2.4.19

[2020-01-03 02:56] #98 closed

[2020-01-04 17:37] robaho opened #99 "initial window placement and sizing is incorrect for new images"
They are positioned at the bottom of the screen, and the user needs to scroll to see all of the content area.

[2020-01-04 17:50] robaho commented on #99
fixed in 2.5

[2020-01-04 17:50] #99 closed

[2020-01-04 18:06] robaho opened #100 "ability to zoom to fit"
with the option of setting this as the default for newly opened images

[2020-01-04 20:57] robaho commented on #100
fixed in 2.5

[2020-01-04 20:57] #100 closed

[2020-01-04 22:43] robaho opened #101 "unable to move crop rect"
If there is a crop rect enabled, the user cannot drag the rect, it just disappears

[2020-01-04 23:29] robaho commented on #101
there are also problems when the crop rect is scaled using the handles

[2020-01-04 23:32] robaho commented on #101
fixed in 2.5

[2020-01-04 23:32] #101 closed

[2020-01-04 23:32] robaho opened #102 "changing crop rect options causes a crop"
The crop should only occur when the 'crop image' or 'crop layer' button is selected

[2020-01-05 00:59] robaho commented on #102
fixed in 2.5

[2020-01-05 00:59] #102 closed

[2020-01-07 01:03] robaho opened #103 "crash creating thumbnail with certain layer sizes"
#0	0x00000001021aed07 in -[SeaLayer updateThumbnail] (in Seashore) at /Users/robertengels/seashore/Seashore/source/document/SeaLayer.m:592
#1	0x00000001021aea72 in -[SeaLayer thumbnail] (in Seashore) at /Users/robertengels/seashore/Seashore/source/document/SeaLayer.m:567
#2	0x0000000102246570 in -[LayerDataSource outlineView:willDisplayCell:forTableColumn:item:] (in Seashore) at /Users/robertengel

[2020-01-07 01:04] robaho commented on #103
fixed in 2.5.1

[2020-01-07 01:04] #103 closed

[2020-01-07 01:42] robaho opened #104 "layer properties labels unreadable in Mojave "dark mode""
They are black on a dark background.

[2020-01-07 02:05] robaho opened #105 "random crash when performing undo after layer opacity change"

[2020-01-07 02:28] robaho commented on #105
fixed in 2.5.1 - changing the mode or opacity does not change the active layer

[2020-01-07 02:28] #105 closed

[2020-01-07 23:12] robaho commented on #104
fixed in 2.5.1

[2020-01-07 23:12] #104 closed

[2020-01-08 02:19] robaho opened #106 "drawing artifacts when selection boundaries changed and layer is offset"
Bug was introduced in latest performance improvements with incremental repaints.

[2020-01-08 03:40] robaho commented on #106
fixed in 2.5.2

[2020-01-08 03:40] #106 closed

[2020-01-09 02:06] troy-lamerton opened #107 "text editing"
When I have finished writing text, it is added to the layer as pixels.

A few moments later I want to change the text, but can't. So I rectangle select it, delete, create new text.

We should be able to edit text after it is created. So adding a new text would add a new layer.

[2020-01-09 03:04] robaho commented on #107
Seashore doesn't support "text layers". The best solution is to create a new layer first. Add the text. The 'condense the layer to content' - then position the layer.

I've thought about adding "text layers" but they would be handled completely different than the raster layers, and I'm not sure the users would like that.

[2020-01-09 05:34] troy-lamerton commented on #107
Do you have any data on what users would like when it comes to text?

Consider what a user is used to. Users might have no expectation, or come from Paint, Photoshop, GIMP, or something else?

### Expectations based on previous tool
Paint (windows 10): ? (dont remember)
Photoshop: text layers
GIMP: text layers
No expectations: no preference

Of course, changes to text handling would need to be int

[2020-01-09 18:00] robaho commented on #107
The early versions of GIMP (and I think Photoshop) did not have text layers. I am very wary of feature creep which usually leads to increased complexity in both the code and the user interface.

I think that maybe a first pass feature might be a check-box to auto-create a new layer (and float) when adding the text - not quite a text layer but it definitely simplifies the workflow.

And maybe a dro

[2020-01-11 16:09] robaho opened #108 "clicking outside selection to anchor retains should clear selection"
It should clear the selection, similarly as to when the 'anchor' button is pressed.

[2020-01-11 17:04] robaho commented on #108
fixed in 2.5.3. Also cleaned up the handling of 'option' to float selection, and clicking outside to anchor.

[2020-01-11 17:04] #108 closed

[2020-01-11 18:50] robaho commented on #86
Finally figured out what was causing the crash with the smudge. If you are drawing (dragging) and press the key to switch the tool to the smudge, it attempts to use structures that were not initialized (since the drawing did not start with the tool).

[2020-01-11 19:35] robaho commented on #86
fixed in 2.5.3 - needed to ensure the tools were only used when their setup had been completed

[2020-01-11 19:35] #86 closed

[2020-01-11 19:38] robaho commented on #107
fixed in 2.5.3 - added ability to always create a New Layer when adding text. This greatly simplifies things.

Also, I discovered that in order to do "high quality" text it needs to anti-alias with the bottom layer, so using a new layer (or a text layer if we had them), would be more difficult

[2020-01-11 19:38] #107 closed

[2020-01-12 06:15] robaho opened #109 "changing document transparency color does not affect existing open images"

[2020-01-12 06:16] robaho commented on #109
fixed in 2.5.3

[2020-01-12 06:16] #109 closed

[2020-01-12 07:00] robaho opened #110 "unable to resize crop rect across axis"
You can do this with the select rects.

[2020-01-12 16:24] robaho commented on #110
fixed in 2.5.3

[2020-01-12 16:24] #110 closed

[2020-01-23 04:49] robaho opened #111 "crash when selection changes mask"
when the old 'mask image' is freed - GC via dealloc() - it crashes, as if the NSBitmapImageRep is no longer in the array of bitmaps associated with the NSImage.

It could also be that there is a cached volatile image created during drawing, and that is being deallocated - and there is some obscure OS bug (only reported on OSX 10.15).

[2020-01-24 05:30] troy-lamerton commented on #107
![image](https://user-images.githubusercontent.com/13446008/73046554-e527b500-3e72-11ea-9f68-93a5ba162b86.png)

It works good so far, I'll make a new issue if needed.

[2020-01-24 06:00] robaho commented on #111
calling it fixed in 2.5.4

[2020-01-24 06:00] #111 closed

[2020-01-25 07:39] Navy-Brat opened #112 "Thank you for all of the updates and all of the hard work"
There has been a bunch of them lately within the past month and we just wanted to thank you for all of the work and keeping everything up-to-date. That was a lot of work on an excellant piece of software, so with that said, thank you.

[2020-01-25 08:05] robaho commented on #112
Thank you. You are very welcome.

[2020-01-25 08:05] #112 closed

[2020-01-30 04:01] robaho opened #113 "crash with black & white (gray) images"
test code was inadvertently committed

[2020-01-30 04:20] robaho commented on #113
fixed in 2.5.5 - removed invalid test code

[2020-01-30 04:20] #113 closed

[2020-02-01 15:08] luckman212 opened #114 "REQ: option to default to [clipboard] for New images"
I ❤️ Seashore! (Thank you)

My most common method for getting images into Seashore is via the clipboard. So, it would be handy to have a preference to allow selecting the default preset:
![image](https://user-images.githubusercontent.com/1992842/73593813-0b360080-44d6-11ea-8d6b-58bcdc6b4c9d.png)
e.g.
![image](https://user-images.githubusercontent.com/1992842/73594237-974a2700-44da-11ea-8c08-2cebb8

[2020-02-01 17:59] robaho commented on #114
The problem is with your suggestion - that it only creates a blank image - that you then need to paste into - where as the 'File -> New from Pasteboard' does it all in one step.

[2020-02-01 18:01] robaho commented on #114
To be honest, I don't think that preset is working correctly anyway - as the behavior is different from the 'New from Pasteboard'. I need to look into it.

[2020-02-01 18:02] robaho commented on #114
It looks like the 'paste image' doesn't function like 'new from pasteboard' - it pulls a random image in Catalina.

[2020-02-03 04:12] robaho opened #115 "copy and pasting image from finder doesn't work"
The resulting image is the 'document type' image, not the image itself.

Note, dragging and dropping the image into the content pane works correctly.

[2020-02-04 02:36] robaho commented on #115
fixed in 2.5.6

[2020-02-04 02:36] #115 closed

[2020-02-12 20:13] ghost opened #116 "Text leaves trail when moved"
I cannot use Seashore currently b/c after the update, every time I try to add text, it leaves a trail as I move it that does not go away. Pls fix asap as I use this app for work!
<img width="1120" alt="Screen Shot 2020-02-12 at 2 13 20 PM" src="https://user-images.githubusercontent.com/60986450/74373352-e24d1f80-4da1-11ea-800c-8e1751a2b434.png">

[2020-02-12 20:35] robaho commented on #116
Sorry about this - I will look into it. I need some help though - are you using the 'add as new layer' and then moving the layer around ? (If not, you should be - that is a much easier way to position the text).

[2020-02-12 20:36] unawalk commented on #116
Thank you! Yes, I’m using new layers.

On Wed, Feb 12, 2020 at 2:35 PM robert engels <notifications@github.com>
wrote:

--
Una Walkenhorst
www.unawalkenhorst.com
www.patreon.com/unawalkenhorst

[2020-02-12 20:37] robaho commented on #116
@unawalk based on the screen shot, it doesn't appear you are using the 'add as layer' - it is not checked? If you are checking this, is the drag when you move the layer around, or are you using the 'move' command.

[2020-02-12 20:48] unawalk commented on #116
I just took that screenshot to show how the text drags. It does it whether
it's in a new layer or not. The drag is when I'm using the "move" command.
But even if I exit out of the text without saving it, the text stays.
Una Walkenhorst
www.unawalkenhorst.com
www.patreon.com/unawalkenhorst

On Wed, Feb 12, 2020 at 2:37 PM robert engels <notifications@github.com>
wrote:

[2020-02-13 01:40] robaho commented on #116
fixed in 2.5.6 - the previous preview rect was not being tracked correctly causing artifacts on the screen during move. The image file data itself was correct.

[2020-02-13 01:40] #116 closed

[2020-02-13 01:44] robaho commented on #116
As an FYI, I am pretty sure you can use the current "broken" version by selecting 'add as layer' and then add. Then use the move layer tool to position the tex.

[2020-02-14 05:31] HibHalverson opened #117 "Won't open images created by Nikon D850"
Seashore will not open .jpg images created by a Nikon D850, however it will open .jpg images created by either a Nikon D3 or a Nikon D5.

Any ideas.

[2020-02-14 05:59] robaho commented on #117
Please attach an image that doesn't work here and I'll take a look.

[2020-02-14 17:12] HibHalverson commented on #117
Robert-

I'll add that I get the same error on both my Macs, each of which is running OS 10.14.6. Both Photoshop CS6 and Graphic Converter 10 will open the images.

A screen shot of the error message is attached.

Regards,

Hib Halverson
General Manager
Shark Communications

[2020-02-14 17:14] HibHalverson commented on #117
Robert-

I tried to email you some images but the post bounced because the attached files were too large.

I will try uploading the images to Drop Box.

I  attached three images, just as they came out of the cameras. DSC_4374 was shot by a D850. DSC_1592 was shot by a D5. DSC_was shot by the a D3.

So far, none of the .jpg images I have shot with he D850 can be opened by Seashore.

Regards,

Hib H

[2020-02-14 17:19] HibHalverson commented on #117
Hi there,

Hib Halverson (finspeed@netmotive.net) invited you to for Robert .

 View on Dropbox[1]

Join Dropbox to do more with shared files like this

   Stay organized
  Keep files and cloud content—like Google Docs—in one space.         Work together
  Stay in touch with your team with the tools you use every day alongside your files.         Find it fast
  See relevant files right when you ne

[2020-02-14 23:48] robaho commented on #117
Hi Hib,

The reason the image can't be loaded is that it is too large. The current software has a limitation of 8192 pixels h/v.

I have upped this to 16k in each direction for version 2.5.7 (which in RGBA8888 is about 1GB).

Beyond that it gets a little more difficult as internally many of the memory allocations, and file offsets are "ints". It is only the road-map to support these very large ima

[2020-02-14 23:53] robaho opened #118 "support very large images"
Seashore in version 2.5.7 has a limit of 16k width/height images, which in RGBA8888 is about 1GB.

Supporting larger images requires a review of all int/long variable usage, and requires updating the file format to support > 2GB file offsets (aka GIMP 2.10 which can only be read at the moment).

[2020-02-14 23:58] robaho commented on #117
fixed in version 2.5.7 by increasing max image dimensions. Issue #118 has been submitted to handle even larger images.

[2020-02-14 23:58] #117 closed

[2020-02-15 00:01] robaho commented on #118
as a stop gap, changing the total image size to 2GB, rather than dimensions, is probably a better solution (so width*height*4 < 2GB)

[2020-02-15 00:04] robaho commented on #117
as a note, using very large images like this should only be done in most cases if going to print. The software is going to perform much worse as the data exponentially increases - it also consumes a lot of space on the camera/disk :)

[2020-02-15 00:51] HibHalverson commented on #117
Robert-

Where can I get v2.5.7?

I can only find 2.5.6 listed on SourceForge.

Regards,

Hib Halverson
General Manager
Shark Communications

[2020-02-15 00:51] HibHalverson commented on #117
Robert-

That's what I do for some of my clients. I'm an automotive writer and I shoot most of my own imagery. Some of the media I work for are print magazines.

Regards,

Hib Halverson
General Manager
Shark Communications

[2020-02-15 00:57] robaho commented on #117
It is now available in the App Store - I haven't uploaded to github 'releases' yet - probably not until tomorrow.

Sourceforge no longer has the updated binaries - they are only provided here and on the App Store.

As an aside, if you don't have a philosophical disagreement with the App Store - that is by far the easiest and simplest way to get Seashore.

[2020-02-15 01:07] HibHalverson commented on #117
I'm ok with AppStore but it's stil at 2.5.6 which I just downloaded.

 I'll check Github tomorrow.

Thanks, Robert.

Regards,

Hib Halverson
General Manager
Shark Communications

[2020-02-15 02:58] robaho commented on #117
The App Store lags a bit unless you refresh. I am going to upload to github now.

[2020-02-15 17:30] HibHalverson commented on #117
Hey there Robert-

App Store had the new version this morning.

I appreciate your prompt responses.

I've been looking for an image program which can replace Photoshop CS6, which is a 32-bit application and because I'm not enamored with Adobe's subscription model for current versions of P'shop. Seashore is on my list.

Regards,

Hib Halverson
General Manager
Shark Communications

[2020-02-15 18:05] robaho commented on #117
Don’t forget to leave your positive review on the App Store if it works out for you!

[2020-02-15 19:23] HibHalverson commented on #117
Robert-

I need to spend more time learning the program. It's a bit different than Photoshop.

Regards,

Hib Halverson
General Manager
Shark Communications

[2020-02-15 19:30] robaho commented on #117
I’d really like to hear your thoughts about things that you found difficult easy etc. I’m always looking to make the program better and that sort of feedback is what I need thanks

[2020-02-17 17:08] HibHalverson commented on #117
Hey Robert-

I don't have anything for you right now, but I'll keep in touch and give input when I have something useful.

Regards,

Hib Halverson
General Manager
Shark Communications

[2020-02-21 17:11] Navy-Brat opened #119 "How do you resize an image proportionally?"
I'm so sorry, but I'm having trouble resizing images proportionally.

As I understand it, you choose "Scale Image" from the "Image" menu, making sure that the "Keep Proportions" checkbox is checked before you click on the "Scale" button on the bottom to resize the image. My problem is, I must be doing it wrong because I can never get it to resize proportionally.

How do you resize an image proport

[2020-02-21 17:30] Navy-Brat opened #120 "How do you change the canvas size?"
How do you change the canvas size in Seashore 2.5.7?

In Adobe PhotoShop Elements and Pixelmator, you could change the canvas size by choosing "Canvas Size" from the "Image" menu, but in Seashore, I couldn't find it in the "Help" menu and the Seashore Guide was very confusing. I'm so sorry.

[2020-02-22 00:48] robaho commented on #119
No need to be sorry. That's exactly the way you do it. Can you show a screen shot, before/after of what is not working?

If you change the % (the easiest way), and the 'Keep Proportions' is checked, both the percentages should be the same, and the width & height should change accordingly.

I just tested this and everything worked as I would expect.

[2020-02-22 00:54] robaho commented on #120
You use Image -> Image Boundaries. The width/height is the size of the image. You can try experimenting - if you increase the height by 10, you should see 5 in the top and bottom offsets as it tries to center the image in the new size.

You can drag the layers around to reposition in your canvas after resizing.

[2020-02-22 00:54] #120 closed

[2020-02-22 00:56] robaho commented on #119
You can also scale and rotate the a layer - not the entire image.

I am going to close this, as I am pretty sure it works.

[2020-02-22 00:56] #119 closed

[2020-02-23 06:17] Navy-Brat commented on #119
Thank you so much for the nice help.

I found out what I was failing to do was not clicking in the other dimension box.

To be clearer, whether you scale by percentage or by pixel size, if you don't click your mouse or trackpad in the opposing dimension, it won't scale when you click the "Scale" button.

For example, if you change the percentage in the "Horizontal" box and not click in the "Vertic

[2020-02-23 06:29] Navy-Brat commented on #120
Again, thank you.

I found out that not only can you expand the canvas just by plugging in numbers, but you can also cut into the image by plugging in negative numbers.

I have one more question. What does the "Set boundaries relative to content" checkbox do in the "Image Boundaries" option of the "Image" menu?

[2020-02-23 16:54] robaho commented on #119
I've noticed that in the past - and I guess it just became "knowledge" to make sure the values are posted. I am going to file another issue to "force the edits" prior to "processing OK" to avoid this for others.

[2020-02-23 17:08] robaho commented on #120
"relative to content" means the borders of the image are changed to account for purely transparent pixels - shrinking the borders to remove them. I have attached am image (needed to zip to attach) to demonstrate. Open it, and use 'image boundaries' click the 'content relative' and 'Set' and see how it works.

[sample.zip](https://github.com/robaho/seashore/files/4241790/sample.zip)

[2020-02-23 17:10] robaho opened #121 "apply input field changes prior to Set/Ok"
The 'Image Boundaries/Scaling' can be confusing, because after making a change you need to exit the field (i.e. change focus) before you click 'Set' otherwise the changes are not seen.

[2020-04-02 00:37] robaho opened #122 "printing doesn't scale to fit properly"
Seems to be a problem with high DPI or resolution images.

[2020-04-04 19:13] robaho opened #123 "plugins / effects can cause crash"
The plugins when attached as a 'sheet' (preferences, use dialog for effects set to false) doesn't work properly, as there is a single instance of the plugin for the application - so if you use the effect in another window the data references are corrupted.

The easiest solution may be to remove this option and always open in a dialog.

[2020-04-04 20:05] robaho commented on #123
fixed in 2.5.8 by creating a new PluginClass instance for each document as needed. Application starts faster as well, since 'init' phase is performed on-demand

[2020-04-04 20:05] #123 closed

[2020-04-04 21:16] robaho commented on #122
fixed in 2.5.8 - needed to handle non-72 dpi images

[2020-04-04 21:16] #122 closed

[2020-04-04 21:16] robaho opened #124 "scale to fit doesn't work"
The 'scale to fit content' button doesn't work with non-72 dpi images.

[2020-04-05 00:13] robaho opened #125 "units with multiple windows are incorrect"
The "units" are dependent on the zoom level, so if multiple windows are open with different zoom levels, the unit displayed are incorrect.

[2020-04-05 00:37] robaho commented on #124
fixed in 2.5.8

[2020-04-05 00:37] #124 closed

[2020-04-05 00:38] robaho commented on #125
fixed in 2.5.8 - needed to use unique identifier for the units for the document. ideally the zoom would be external to the document units but too much work to change now

[2020-04-05 00:38] #125 closed

[2020-04-05 04:56] robaho commented on #121
fixed in 2.5.8 - need to make the "Ok/Apply" button the first responder which forces the field edits

[2020-04-05 04:56] #121 closed

[2020-05-11 01:27] robaho opened #126 "effects tool not working"
The effects tool is not working. Surprised nobody reported this...

[2020-05-11 02:04] robaho commented on #126
fixed in 2.5.9

[2020-05-11 02:04] #126 closed

[2020-05-11 02:04] robaho opened #127 "crashes reading some non-Seashore XCF files"
Need to trap exceptions and try to move on...

[2020-05-11 03:09] robaho commented on #127
fixed in 2.5.9

[2020-05-11 03:09] #127 closed

[2020-05-11 04:37] robaho opened #128 "unable to import newer GIMP files by dragging into content area"
The importer and reader use different code due to legacy code.

[2020-05-11 04:46] robaho commented on #128
fixed in 2.5.9

[2020-05-11 04:46] #128 closed

[2020-05-21 01:39] nightingale6374 opened #129 "Seashore won't save as png unless I change the file type first?"
When I'm making a png file on seashore, when I go to save as, when I first change it from seashore file to png it saves just fine, but then when I edit it and try to save it as a png, unless I first change the file type to something else and then back to png, it saves as an XCF file.
Here's an example, the first file is the one that saves as a png, but the second one saves as something that I then

[2020-05-21 03:47] robaho commented on #129
Thank you for reporting, but I cannot reproduce this after trying multiple times & ways. These are the exact steps I took - please tell me what you do differently:

1. open seashore.
2. file -> new -> create
3. make some edits
4. use 'file -> save as' choose PNG, and save
5. make some more edits
6. use 'file -> save'
7. close seashore

At this point I have an 'Untitled' PNG file on my desktop that

[2020-05-21 03:49] robaho commented on #129
Also, one other thing - did you try changing the name when using Save As? Does that work? There is special handling of 'Untitled' files. I doubt this will help (as I tried both ways and couldn't reproduce the problem).

[2020-05-21 03:54] robaho commented on #129
One more thing, when you create the new image, can you attach a screen shot of the image options you are using. Thanks.

[2020-05-21 04:11] nightingale6374 commented on #129
Molly Norman has shared a OneDrive file with you. To view it, click the link below.
<https://1drv.ms/u/s!AlYbtNYfOWt7hRaXInCy8JAWqx85>
[https://r1.res.office365.com/owa/prem/images/dc-mpg_20.png]<https://1drv.ms/u/s!AlYbtNYfOWt7hRaXInCy8JAWqx85>
2020-05-20 22-05-46.mp4<https://1drv.ms/u/s!AlYbtNYfOWt7hRaXInCy8JAWqx85>

Hello, Mr. Robert,

Since you were not able to replicate my issue and I have di

[2020-05-22 04:44] robaho commented on #129
Hi Molly,

Thank you for the video - I was now able to replicate the issue! I'll have it fixed in the next release.

[2020-05-22 05:14] robaho commented on #129
fixed in 2.5.10

The issue was that is was saving with the wrong extension - if you would have renamed the XCF file to PNG it would have opened ok.

The problem was caused because the file extension needed to be initialized based on the item already selected in the combo box - otherwise it was defaulting to xcf.

[2020-05-22 05:14] #129 closed

[2020-05-23 14:18] robaho opened #130 "ColorPanel shared between windows can cause crash"
Seashore uses the "shared" color panel. The shared panel is also used by various effects and filters (e.g. Monochrome). When the color is changed for a window - it is also changing it for the effect in a different window.

I believe when a window is closed, the shared panel can become confused and send and event to a non existing window causing a crash.

[2020-05-24 03:47] flemingm opened #131 "GPS, IPTC Metadata is not saved between edits."
When opening image with metadata and resaving to JPG, some of the Metadata is stripped when saving it. EXIF metadata is not stripped.  BUT GPS and IPTC metadata is stripped.

Sample before saving with IPTC data:
![DSC_7236](https://user-images.githubusercontent.com/396757/82745184-7474a480-9d4f-11ea-9866-a8090067c6e9.jpg)

Same file after saving:
![DSC_7236-missing IPTC](https://user-images.github

[2020-05-24 04:25] flemingm commented on #131
Found the export, import and document modules...   Your thought does this sound like it will work?

So implementation should be easy:

**Exporter:**

/Seashore/source/exporter/JPEGExporter.m

line 245:
	// Add EXIF data
	exifData = [[document contents] exifData];
	if (exifData) [imageRep setProperty:@"NSImageEXIFData" withValue:exifData];

Export module will need to be upgraded to using CoreImage

[2020-05-24 16:39] flemingm commented on #131
**Writing if back:**

https://stackoverflow.com/questions/19692455/writing-image-metadata-exif-tiff-iptc-to-image-file-in-os-x

[2020-05-25 04:35] robaho commented on #131
Thanks Mark for the detailed report. I will see what I can do. Feel free to submit a PR as well. One thing to keep in mind, that any APIs used must be available for 10.7+ or it is a bit more work since they have to be guarded.

[2020-05-25 04:40] robaho commented on #131
A quick check shows the additional metadata appears in 10.4+ so it shouldn't be a problem.

[2020-05-29 23:23] robaho opened #132 "crash when changing resolution and scaling to preserve size"
It seems bad parameter values can cause a memory allocation failure.

[2020-05-30 02:43] robaho commented on #132
fixed in 2.5.10

[2020-05-30 02:43] #132 closed

[2020-06-02 02:50] aaronclawrence opened #133 "Feedback: initial new image dialog, open recent unexpected behaviour"
Hello, and thank you very much for Seashore.
I have one minor suggestion: on the initial New Image dialog, the behaviour of the Open Recent dropdown is a little unexpected or unintuitive to me.
Traditionally, a dropdown does not take effect immediately on selecting and item, you would select something and then click a button to take effect.

So I usually click on the dropdown item, expecting to th

[2020-06-02 03:54] robaho commented on #133
You're welcome. Thank you for the feedback. I agree that it may not be the most intuitive - using the File -> Open Recent is certainly more standard. You can disable the 'New Dialog' automatically opening in the Seashore preferences.

[2020-06-02 03:54] #133 closed

[2020-06-15 00:19] robaho commented on #131
@flemingm Hi Mark, I'm curious - the EXIF standard appears to have support for GPS tags https://exiftool.org/TagNames/GPS.html - is this not sufficient ?

[2020-06-16 01:06] flemingm commented on #131
Exchangeable image file format (EXIF) standard is at [http://www.exif.org/Exif2-2.PDF](http://www.exif.org/Exif2-2.PDF) for digital still cameras.  Yes EXIF contains the GPS data from the camera.  It also has some limited fields for comments.  Also many of EXIF Tag are same as TIFF Rev. 6.0 Attribute Information

Search engines have started to show specific metadata fields of ITPC photos in search

[2020-06-16 01:24] flemingm commented on #83
To help track down why, try open terminal and typing the follow two commands:

**ps -Axl | grep -i -e seashore -e PPID**
and
**lsof  |grep -I seashore**

and copy the results into this chat.   It may point towards the issue.

fyi:
grep filter out unwanted lines that don't match.
ps = list processes
lsof = list all open file for the process seashore.

[2020-07-09 07:46] snattack opened #135 "allow 'replace' rather than 'composite' when filling"
I downloaded Seashore to do a simple thing, and it turns out it can't.

1. Open a .PNG image with mixed transparency/non-transparency in a single layer.
2. Select the transparent color with the Eyedrop tool.
3. The color selected is now let's say black #000000 with 50% transparency.
4. I want to change only the transparency, so I try want to replace that color with black #000000 25% transparency u

[2020-07-09 13:46] robaho commented on #135
I B will definitely look into this next week. It should work as you describe so a bug was probably introduced.

[2020-07-15 04:29] robaho commented on #135
I've looked into this and your assessment is not correct. The standard fill is 'normal/composite' and this makes sense. Consider: you select and area of an image, and you fill with a 'semi-opaque' color - the effect should blend this color into the existing pixels - not replace the pixels.

A simple work-around, is to select the area using the wand, then cut, then fill with the semi-opaque color.

[2020-07-15 04:31] robaho commented on #135
Your second point is not correct. The wand will select only the transparent pixels - it only appeared it was selecting both because of the fill/brush problem.

Note, you would have the same problem after wand select if you tried to use the brush (as it works the same). You would need to cut firt.

[2020-07-15 12:08] mvanr opened #136 "Request: Keys to cycle through images in the current directory"
I've just discovered Seashore and I love it - thanks!

I was actually searching for a Mac alternative to Window's massively popular Irfanview, but there doesn't seem to be any such thing, even though Seascape does many things that Irfanview can't.

For me (and I suspect thousands of others), Irfanview's most salient and vital feature is its ability to navigate to the next image (by name) in the di

[2020-07-15 13:23] robaho commented on #136
Thank you. I'm glad you like it. Typically Seashore doesn't add 'limited use' functions like this in order to keep the complexity down - but lucky for you the Mac has already solved this problem with the awesome Finder...

All you need to do, is search in a Finder window, select the items of interest, then right-click and 'QuickLook on N Items'. You get the quick look window that allows you to nav

[2020-07-15 13:26] robaho commented on #136
You can also easily create a Short-Cut to Merge All Windows, or even a script to do the Open All and the Merge.

See https://osxdaily.com/2013/11/07/merge-windows-into-tabs-finder-mac-os-x/

[2020-07-15 14:18] mvanr commented on #136
Thanks! I tried "QuickLook on N Items", but the Quicklook window closes s soon as I click "Open with Seashore" on the first image, so I can't scroll through and open each of them in Seashore this way.  Even if it didn't close the Quicklook window, it would be a lot more cumbersome with three mouse moves/clicks (click "next", click "open Seashore", click "close"), as opposed to one keystroke.

Open

[2020-07-15 22:51] robaho commented on #136
I see what you mean. An easier solution would be to do the search, select the first item - then press space to bring up the quick-look window - if you want to edit, use the 'open with seashore' otherwise press the down arrow to move to the next item. After you 'open with seashore' the finder window remains on that item, so you can advance to the next and press space. It's not more keystroke than w

[2020-07-15 22:52] robaho commented on #136
I've re-opened this as a possible enhancement, but I think using the Finder + QL is a lot more versatile. I think you might even be able to find a standalone application that integrates into the finder that does what you want - if not, maybe that's the next App I write :)

[2020-07-15 23:03] robaho commented on #136
Actually, I found the solution... use the space-bar solution as described and then when you want to open the image in seashore, use Command-O (instead of the button in QL) - the file will open in Seashore and the quick look window will remain open and you can move the next item.

[2020-07-15 23:03] #136 closed

[2020-07-16 09:27] mvanr commented on #136
That technique helps a lot, thanks! It's three keys and a click (command-o, command-w, click for QL focus, down) instead of one (space), but it's much better than all the mouse actions I was using before.  Wouldn't it be nice if one could use an app like Seashore as a QL plugin so that images open with it rather than the default viewer?  That's kind of what I'd dreamed of and a great idea for an a

[2020-07-19 13:44] robaho commented on #136
Use can do this. You can make Seashore the default open for all image files and it will also be the default QL viewer. I am pretty sure if you can also use qlmanage to only set the default QL handler.

[2020-07-22 18:42] MurrayElliot opened #137 "Seashore won't close"
MACOs High Sierra
MacBook Pro (15-inch, Mid 2012)

Got Seashore into a state where 'Quit' is greyed out in Seashore menu.
RIght-click on Icon followed by Quit does nothing. If I 'Show all WIndows' there's no other windows.
I eventually found Seashore in the activity monitor (just the Icon, no name) to force quit it from there.

Can't be sure what I did to create this situation. It was my first tim

[2020-07-24 03:38] robaho commented on #137
Thank you for providing this. There has been similar reports in the past, but I've never been able to track it down. I "think" it may be related to closing a file when it has changes, and getting the auto-save but somehow the file couldn't be saved - putting the app into a strange state.

There's not a lot I can do without some "steps to reproduce", so I am asking for your help - if you think you

[2020-11-19 02:17] Gewurztraminer opened #138 "No crop bar or buttons."
Crop does not produce crop toolbar. Deleted and installed new. Still no crop bar. Can't find plist, nothin gin Application Support.

[2020-11-19 05:30] robaho commented on #138
Can you attach a screenshot highlighting what you mean? This is no 'crop toolbar' - there is a 'crop tool'. When selected, you can drag to select the area to crop, use the options in the 'options bar', and then 'crop layer' or 'crop image'.

Did you read the guide?

[2020-11-19 05:34] robaho commented on #138
Here is a couple of screen shots:

![image](https://user-images.githubusercontent.com/4958833/99625684-5f26bd00-29f6-11eb-9186-8d7d95a84f51.png)
![image](https://user-images.githubusercontent.com/4958833/99625761-89787a80-29f6-11eb-86d2-a2ed8a191593.png)

[2020-11-22 18:46] Gewurztraminer commented on #138
OK, found it. To clarify, Crop button was there, but not Crop Image/ Crop Layer as there was no toolbar. Hide Options was asserted, but Show Options produced only a sliver of grey chrome, no buttons. Turning off rulers and reloading fixed it. I can't reproduce, both work together now. I think it's a window resizing issue.

[2020-11-22 18:46] #138 closed

[2020-11-22 23:02] robaho commented on #138
Not sure hiding options even makes sense - I guess if you want lots of screen real estate and know all of the keyboard shortcuts. I may remove that option.

I’m not sure how you had it hidden as the default should be to show it.

[2020-11-23 00:45] Gewurztraminer commented on #138
I've never intentionally used Hide Option - it was probably a cat on the keyboard - but after I'd found it the options toolbar was only a thin stripe - no buttons. Seashore is my go-to image editor, use it every day because it's so fast. The only other insignificant but weird thing is no name in Force Quit (This machine is High Sierra. Can't say I've noticed it on late OS).
![Screen Shot 2020-11-2

[2020-11-24 02:03] thebitstick opened #139 "Universal Binary for Apple Silicon"
Seashore works great through Rosetta, but a native binary would be nice!

[2020-11-24 03:09] robaho commented on #139
Thank you for the input. It is actually a bit of work to port, and given that I don't have hardware to test on, and any donations haven't come close to even a down payment, it is doubtful.

If I am going to make an effort in this area, I will probably do a complete rewrite in a new commercial app.

[2020-11-29 19:54] omaitzen opened #140 "add "snappable" grid"
I don't know how common my perspective is, but in my years-long on-and-off search for a satisfactory image editor for macOS that takes less time to open than GIMP, one of my hardline feature requirements is a grid that is _visible_ (as an overlay), _resizable_, and _snap-to-able_. From what I've tried of Seashore so far, the lack of this feature is the one thing preventing me from adopting it as m

[2020-11-29 23:09] robaho commented on #140
There are guides - once you zoom in enough to make them visible - see attached, but there may be a bug as the color setting does not appear to work. The guides are not resizable or snap-to-able.

Thanks for the feedback.

[2020-12-21 20:38] seeingears opened #141 "export window won't load or does but window incomplete"
I'm a total beginner and I have just downloaded Seashore from the app store to see if I can do collages with it. I imported a jpg, erased the background and have succeeded in saving the project. I've flattened the layers and want to export. Pressing "Export..." does either nothing, or when the dialog box randomly appears, the part which should say "Options" is squished and transparent - so I may o

[2020-12-23 18:23] robaho commented on #141
No, that does not look correct at all. Which version of OSX are you using? Do you get the same behavior with 'Save As' (that may be a work-around).

Here is screenshot for reference:

<img width="953" alt="image" src="https://user-images.githubusercontent.com/4958833/103026468-a0404e80-4519-11eb-8c5a-8651bc45eadb.png">

[2020-12-23 18:52] seeingears commented on #141
Thanks for the swift reply robaho. Actually I encounter a similar problem with "Save As," sometimes it will open a dialog box but mostly not. I'm using OS X 10.9.5 - it's an old MacBook Pro from 2010 - can't afford to upgrade right now. I thought this would be compatible? Should I look for an older version of Seashore perhaps?

[2020-12-23 20:06] robaho commented on #141
Give me the weekend to test with that OS X version.

[2020-12-23 21:37] seeingears commented on #141
That's exceptionally kind, but please there's no huge rush, it's Christmas after all :) Thank you for looking into this for me. Of what I've used of Seashore so far it's pretty impressive.

[2020-12-24 22:02] robaho commented on #141
I was able to reproduce - I'll work on a fix. In the meantime, I think you can make it work by pressing the 'small portion of the arrow' that is visible - you should see the drop down - and be able to chose the correct format although you won't be able to see what you chose.

[2020-12-25 23:48] robaho opened #142 "plugin state gets corrupted"
The plugin system dates to when Seashore tools were in windows. There is a plugin instance of each plugin to determine if the plugin can operate on the current document (validateMenuItem), and if the user activates the plugin, then another instance is created to execute the plugin - this avoids creating each plugin for every open document.

The problem is the SeaPlugins instance passed to each plu

[2020-12-26 01:28] robaho commented on #142
fixed in 2.5.10 - reworked plugin framework to avoid these issues

[2020-12-26 01:28] #142 closed

[2020-12-26 01:29] robaho commented on #141
fixed in 2.5.10

[2020-12-26 01:29] #141 closed

[2020-12-30 22:25] SimonKravis opened #143 "Missing file after cloning to Git Desktop"
When I clone the project and try to build it in Xcode I get the message below. How do I fix it?

StripNIB /Users/robertengels/seashore/Seashore/resources/PrintPanelAccessory.nib (in target 'Seashore' from project 'Seashore')
    cd /Users/apple/Documents/GitHub/seashore/Seashore
    export XCODE_DEVELOPER_USR_PATH\=/Applications/Xcode.app/Contents/Developer/usr/bin/..
    /Applications/Xcode.app/C

[2020-12-30 22:57] robaho commented on #143
The last release was missing some commits. If you clone now you should be OK.

[2020-12-30 22:57] #143 closed

[2020-12-31 00:05] SimonKravis opened #144 "Missing file GIMPCore.h"
#import <GIMPCore/GIMPCore.h> in /Users/apple/Documents/GitHub/seashore/Seashore/source/tool/gradientTool.m fails with missing file with clone done just now

[2020-12-31 00:54] robaho commented on #144
You need to use the workspace included, and probably build with XCode 12.3

I cloned a new copy and it built fine. Attaching the build log.

[Build Seashore_2020-12-30T18-47-05.txt](https://github.com/robaho/seashore/files/5756129/Build.Seashore_2020-12-30T18-47-05.txt)

[2020-12-31 00:54] #144 closed

[2020-12-31 01:19] SimonKravis commented on #144
Thanks  for your prompt replies.

I’m new to Mac development – if  open the file seashore.xcworkspace with XCode  it shows Build CMYK: Succeeded but the Product->Run option is greyed out. How can I run seashore within XCode?

If I open seashore.xcodeproj then I get the error regarding  GIMPCore.h

Regards

Simon Kravis

From: robert engels [mailto:notifications@github.com]
Sent: Thursday, 31 Decem

[2020-12-31 03:03] robaho commented on #144
You need to select the Seashore scheme. You can also read the buildnotes.txt for building from the command line. Sorry, but I don't have time to support build/training issues.

[2021-02-06 14:17] janprzy opened #146 "Unable to turn off image smoothing/anti-aliasing"
I am trying to edit a 32x32 image in Seashore version 2.5.10. However, Seashore applies anti-aliasing, making everything appear blurred. Turning off the "Use image smoothing" setting has no effect.

This definitely worked a year ago, but I tried going back as far as version 2.5.6, that didn't fix it.

Maybe my settings are corrupted, but reinstalling the app and/or deleting `~/Library/Containers/a

[2021-02-07 20:02] robaho commented on #146
I've been looking into this, and I think it may be a OSX bug on Retina displays. I've attempted several work-arounds but can't seem to fix it - but I'm still working on it.

[2021-02-07 20:37] janprzy commented on #146
Thanks! I'm not sure if the retina display could be to blame. While my Mac's internal display is retina, this also happens on my external monitor, which is not.

[2021-02-08 17:16] ThatGuySam commented on #139
@robaho Is this closed because you don't have a method to test it?

[2021-02-09 00:47] robaho commented on #139
Pretty much. It’s hard to accept a PR that I have no way of testing.

[2021-02-09 19:50] ThatGuySam commented on #139
If you can provide a list of specific features to test along with some sample files, I can create a callout for testers to create a screen recorded review of the Universal Binary.

[2021-02-09 21:04] thebitstick commented on #139
I volunteer to test on my Mac mini M1.

[2021-02-09 21:05] ThatGuySam commented on #139
@thebitstick That's awesome!!

[2021-02-09 21:13] ThatGuySam commented on #139
I'm sure @robaho will have more specific things to try, but if you could post a screen recording of the following that would be a good start:

- Show App's "Get Info"
- Launch App
- Pull up Activity Monitor with app listing **visible**
- Save file
- Load file

If you need a screen recording app you can simply have Quicktime record the screen by pressing: Command + Shift + 5

[2021-02-10 00:05] robaho commented on #139
There is no PR to support Apple silicon. I don't have the time to create and test one. It is more than just setting some complier flags - there is some C code and other memory manipulation operations that I assume need to be changed for direct compilation.

[2021-02-10 00:09] robaho commented on #139
As I mentioned, if I invest the time to support Apple silicon it will probably be on a completely new version written from the ground up in Swift. That being said, I will accept a PR to support Apple silicon, but the bar is very high for what needs to be included - since I can't break the App Store version.

[2021-02-10 00:10] robaho commented on #139
I am re-opening the issue so a PR can be created against it.

[2021-02-10 11:23] janprzy commented on #146
I tried on a different Mac that has no retina display, it worked there. However, that Mac is running Catalina instead of Big Sur, maybe that's the reason. That would also explain why everything worked fine on my retina-equipped Mac a year ago.

[2021-02-10 17:18] ThatGuySam commented on #139
Fair enough!

[2021-02-11 03:25] robaho commented on #146
Yea, I think it is a combo of Big Sur and Retina. I made some changes to make it work, but performance was terrible. I am going to file a bug with Apple.

[2021-02-11 04:52] robaho commented on #137
closing as duplicate of #83

[2021-02-11 04:52] #137 closed

[2021-02-11 09:35] janprzy commented on #146
Alright, thanks for the effort!

[2021-04-13 21:31] Gunstroke opened #147 "Change font option not working/unresponsive"
Version 2.5.10 (2020122701)
Mac OS 10.13.6
Changed font to 36 pt some tie ago, but now cannot drop it back down. Selecting change font does not open any dialog

[2021-04-16 19:51] Franulator opened #148 "Unable to open Seashore image"
I have the latest version of Seashore, but am unable to open some files that I worked on a year ago. "Unable to open file." Under file type in Finder, it says "Seashore/GIMP image". I tried re-downloading the app from the Apple App Store, but it wouldn't open because the developer could not be verified. Using MacOS 10.15.7.

Could you please help?! Thank you.

[2021-04-17 00:53] robaho commented on #148
Based on the screenshot you posted, I don't think you downloaded Seashore from the App Store - or if you did the OS is finding the wrong version. I suggest deleting all copies of Seashore (search using Spotlight), and all DMGs - then download from the App Store. If you want, you can attach or send me one of your images via PM or email and I'll investigate.

[2021-04-17 01:15] Franulator commented on #148
When I look it up on the App Store it says OPEN, which means that I got it
there, correct? It works fine, it’s just these particular documents that
won’t open. Let me switch from phone to laptop and I’ll show you the odd
file image in Finder...

On Fri, Apr 16, 2021 at 8:53 PM robert engels ***@***.***>
wrote:

--
Fran Selinger
***@***.***

[2021-04-17 01:21] Franulator commented on #148
I have no trouble opening regular jpegs, which makes me think it's the file
type. What do you think?

Fran Selinger
***@***.***

On Fri, Apr 16, 2021 at 8:53 PM robert engels ***@***.***>
wrote:

[2021-04-17 03:00] robaho commented on #148
Can you send me a PM and attach the file?  You are the only person to report this so there’s not much I can do.

[2021-04-17 18:26] Franulator commented on #148
Well, it looks like you're going to have to instruct me first on how to PM you! I can't see how to do it here. Sigh.

[2021-04-17 21:34] robaho commented on #148
Send me an email at robaho@earthlink.net

[2021-04-18 02:52] robaho commented on #148
I received the files and am looking into it.

[2021-04-18 03:01] robaho commented on #148
The reason Seashore cannot open the files, is because they are JPG files. If you change the extension to .jpg you can open them in most image programs, including Seashore.

Seashore uses the file extension for file type determination - not the contents.

[2021-04-18 03:01] #148 closed

[2021-04-19 12:45] Franulator commented on #148
Bless you. That was easy. Thank you so much for your help. And thank you
for Seashore.

Fran Selinger
***@***.***

On Sat, Apr 17, 2021 at 11:01 PM robert engels ***@***.***>
wrote:

[2021-05-05 17:16] markbullen54 opened #149 "Background colour"
I have just started using Seashore and have a simple question: how do I change the colour of a background layer? I created the layer, I selected the foreground/background tool to bring up the color picker, I selected a color, then selected the bucket tool to flood the layer but nothing happens. Must be missing something obvious (or not so obvious).

Thanks.

[2021-05-06 00:07] robaho commented on #149
Did you pick the foreground color? When you are editing a layer - you are normally changing a layers "foreground". The only time "background" is used is when you are erasing within a layer. So 'fill' uses the 'foreground' color to fill.

Also, did you read the guide? It is available under the Help menu.

[2021-05-06 00:10] markbullen54 commented on #149
Ok, that explains it. I assumed it was the background colour because the layer is in the background.
And, yes I did read the guide.
Thanks agan.

[2021-05-06 00:42] robaho commented on #149
“background” is relative when using “layers”. As you can have many layers and reorder them.

TBH “background” is probably a bad name - it should be called “erase color” so I agree it can be confusing.

[2021-05-06 00:42] #149 closed

[2021-06-05 07:40] olkamolka opened #150 "Application does not open"
Installed from appplestore. When tried to open, got -1 error code, no details
macOS Big Sur 11.3.1
MacBook Pro (13-inch, M1, 2020)

[2021-06-05 13:31] robaho commented on #150
Hi. Do you have “report crashes to the developer” enabled? If not you will need to copy and paste the crash information from the console here for me to help.

This issue has not been reported by anyone else so I am fairly certain it is something specific to your setup.

[2021-06-05 13:35] olkamolka commented on #150
Hi, thanks fir quick reply The first comment is all I could find--Sent from Yandex.Mail for mobile05.06.2021, 09:31, "robert engels" ***@***.***>:
Hi. Do you have “report crashes to the developer” enabled? If not you will need to copy and paste the crash information from the console here for me to help.
This issue has not been reported by anyone else so I am fairly certain it is something specific

[2021-06-05 13:45] robaho commented on #150
Please see this guide https://support.apple.com/guide/console/reports-cnsl664be99a/mac and look for a Seashore crash report in the User reports, and if so, paste it here.

[2021-06-05 13:47] robaho commented on #150
Also, please see https://support.apple.com/guide/mac-help/share-analytics-information-mac-apple-mh27990/mac and make sure you have 'share with app developers' enabled - then try and open the application again. That should route the crash information to me.

[2021-06-22 03:30] robaho commented on #150
Closing due to lack of activity and inability to reproduce.

[2021-06-22 03:30] #150 closed

[2021-08-19 17:21] cooljeanius commented on #3
Thanks for adding this feature!

[2021-09-16 00:41] flemingm commented on #131
started working on this in **flemingm** branch.

will need to update the following to export metadata.

 gifExporter,
                         jpegExporter,
                         jp2Exporter,
                         pngExporter,
                         tiffExporter,
                         xcfExporter,
                         heicExporter,

            // ------

// something like:
// NOTE

[2021-09-16 03:15] flemingm commented on #131
I have a draft working implementation for reading and just test jpeg exporter -- need to clean up code in exporter then do other exporter's

[2021-09-28 04:49] mugsuk commented on #139
@robaho, I couldn't find a way to contact you other than through issues, to thank you so much for what you have done for Seashore. I have been using it since it was first released, then resorted to Gimp when seashore died; I have not had to open Gimp again since you resurrected this, and I use it daily. This level of quality for open source software on the Mac is phenomenal. Thanks again

[2021-10-07 10:01] grylem opened #151 "codesign warning"
Hi
some applications for signature checking show warnings like "bundle format is ambiguous (could be app or framework)" for frameworks.

You can reproduce it with codesign utility
codesign -f -s -  GIMPCore.framework
GIMPCore.framework: bundle format is ambiguous (could be app or framework)

Regards.

 

[2022-01-20 01:01] jsoref opened #152 "No process name in Activity Monitor"
## Activity Monitor shows
![image](https://user-images.githubusercontent.com/2119212/150242762-bba656dc-56fe-4ff8-a5ea-80e708a11821.png)
<details><summary>Process details</summary>

### Seashore
![image](https://user-images.githubusercontent.com/2119212/150243046-d8a517dc-a5a6-420b-9708-db5867a9a566.png)

### ZAP for comparison
![image](https://user-images.githubusercontent.com/2119212/150243122-0

[2022-03-22 21:44] jlseach opened #153 "New from Pasteboard doesn't open any window"
Hello,

after copying a bitmap from Inkscape, the functionality "New from Pasteboard" inside SeaShore doesn't open any window.
But when I close SeaShore it tells me that I have many non saved documents which are empty

[2022-05-19 11:15] DDevDevonne opened #154 "SEASHORE LAGGING"
This program is amazing but at some time its reporting on Mac an issue that is taking too much large app space

<img width="1280" alt="Screenshot 2022-05-19 at 2 09 31 PM" src="https://user-images.githubusercontent.com/105858371/169280846-ffdc3524-66e9-4429-8692-ed161ec2838b.png">

[2022-05-19 11:15] DDevDevonne commented on #154
HELPPP

[2022-05-19 11:16] DDevDevonne commented on #154
After that problem occurs its opens up again but it didn't saved what u did

[2022-05-19 16:58] robaho commented on #154
There is a major update this is going to be posted soon. Does this happen on all files or just some?

[2022-05-20 00:25] robaho commented on #154
Is it possible for you to send me a private message - or post here - the image file you were working with?

[2022-05-23 09:00] DDevDevonne commented on #154
Hello there its is the error. And all the changes I did on the file, they dissapear …

DDevDimitrova 

On Friday, May 20, 2022, 7:37 PM, Desislava Dimitrova ***@***.***> wrote:

Im working on .png file. I will Try to screenshot it whenever the error appears. Probably tomorrow Cuz Im going to work.

DDevDimitrova 

On Friday, May 20, 2022, 3:25 AM, robert engels ***@***.***> wrote:

Is it possible

[2022-07-01 14:12] robinson-heath opened #155 "3.0 crash on launch"
Updated to 3.0 on Mac this morning (Sytsem Prefs/Updates/App Store) and it crashed on launch. I can't get it to open at all.

MacBook Pro (16-inch, 2019)
2.6 GHz 6-Core Intel Core i7
16 GB 2667 MHz DDR4
AMD Radeon Pro 5300M 4 GB
Intel UHD Graphics 630 1536 MB
Mac OS 10.15.7

[2022-07-01 14:18] robinson-heath commented on #155
Crash report attached
[Seashore_2022-07-01-115213_batman.crash.zip](https://github.com/robaho/seashore/files/9029543/Seashore_2022-07-01-115213_batman.crash.zip)

[2022-07-01 14:28] robaho commented on #155
Sorry about that - I pulled the release almost immediately (but for another issue). It seems that 10.15.7 is broken when running plugins compiled for a later release. I will need to adjust some build parameters. Thanks for reporting it.

[2022-07-01 14:33] robaho commented on #155
Ends up it has been so long since the last release, I forgot how to build it properly. It should be up today.

Fixed in 3.01

[2022-07-01 14:33] #155 closed

[2022-07-01 15:47] bruceajames opened #156 "Zoom tool: randomly moves into full zoom"
Seashore 3.0 on Mac OS Mojave 10.14.6

When the zoom tool is selected, either a zoom in or zoom out click will randomly change the zoom level to full zoom (3200% in the current image I'm editing)

[2022-07-01 15:50] bruceajames opened #157 "Paste from other image always pastes to center of current image"
Seashore 3.0 on Mac OS Mojave 10.14.6

Paste from other image in previous version of Seashore always pasted to the center of the current view. It now pastes to center of the image instead. On large images, this is inconvenient, have to zoom out to find pasted content.

[2022-07-01 16:43] robaho commented on #157
Interesting. But what happens if you paste a large image and you are zoomed in - it might not be able to be centered.

Still, the 'position tool' should automatically be selected after pasting - and there is a button 'zoom to fit' to ensure the layer is visible. You also have the ability to scale and position the layer with a single click to ensure it fits in the image.

[2022-07-01 16:45] robaho commented on #156
Can you please add a video/screencast of this? I cannot reproduce - but I don't have that version of OSX available.

[2022-07-01 16:47] robaho commented on #156
Are you by chance using a tablet/pen input? Does it happen when using the mouse? I think that former may be the reason. I will look into it.

[2022-07-01 16:49] robaho commented on #157
I can see what you are saying now. I will fix and post a new version.

[2022-07-01 17:07] robaho commented on #156
Actually, I think it may be the same problem that was causing the paste position errors.

[2022-07-01 17:14] bruceajames commented on #156
I am using a wireless 2 button wheel mouse. Playing around with it a little more, I think it might be taking a quick click as a click and drag, probably zooming into a very small 1x1 or 2x2 pixel area. I'm not able to reproduce it on the MacBook touchpad.

[2022-07-01 17:25] bruceajames commented on #157
Yes I was pasting a small image (250x100) into a large image (6120x7920) while zoomed in and it is obvious

[2022-07-01 17:35] robaho commented on #154
This should be addressed in 3.01. Also, when working with large images set the number of undos to something reasonable to reduce memory usage.

[2022-07-01 17:36] robaho commented on #157
fixed in 3.02

[2022-07-01 17:36] #157 closed

[2022-07-01 17:37] robaho commented on #156
Yes, I should probably require a minimum size to perform the zoom to rect.

[2022-07-01 17:38] robaho commented on #147
Should be fixed in 3.01

[2022-07-01 17:38] robaho commented on #146
fixed in 3.01

[2022-07-01 17:38] #146 closed

[2022-07-01 17:39] robaho commented on #140
I will address this in a future release.

[2022-07-01 17:40] robaho commented on #139
fixed in 3.01

[2022-07-01 17:40] #139 closed

[2022-07-01 17:41] robaho commented on #153
I can't really test with Inkscape. If you open the bitmap in preview, and do a 'copy' there, can you paste as new in Seashore?

[2022-07-01 17:52] robaho commented on #156
fixed in 3.02

[2022-07-01 17:52] #156 closed

[2022-07-01 20:21] Gunstroke commented on #147
3.01 crashes on launch, even after a restart.
Crash report is attached.
Lee Allen

Process:               Seashore [1140]
Path:                  /Applications/Seashore.app/Contents/MacOS/Seashore
Identifier:            app.seashore
Version:               3.0 (2022062501)
App Item ID:           1448648921
App External ID:       850186385
Code Type:             X86-64 (Native)
Parent Process:

[2022-07-02 03:40] robaho commented on #147
The crash report says version 3.0, not 3.01... Probably not your fault - the App Store seems to be having some issues getting the latest release published. It should be 3.02.

[2022-07-02 05:45] Gunstroke commented on #147
Based on your reply, I figured the update may have resulted in a corrupt install.
I deleted Seashore and reinstalled it from the App Store.
Started just fine and is now at 3.02.
Thank you for the quick reply.
Lee Allen

[2022-07-02 19:51] robaho opened #158 "ability to correct trapezoidal distortion"
From the App Store: "The most needed is the ability to apply correction for trapezoidal distortion in both horizontal and vertical directions in photographs. These could also be used to add distortion, of course."

I "think" this can be accomplished with the Perspective effect but it needs some research.

[2022-07-02 19:59] robaho opened #159 "effects help is not displaying"
The effects tool has some quick help but it not being displayed(e.g. number of clicks needed, etc.).

See the Perspective effect as an example.

[2022-07-02 20:00] robaho opened #160 "layer list scroll bars are not displayed"
The display of the 'layer list' scrolls bars does not seem consistent.

[2022-07-02 20:01] robaho commented on #153
Closing, as I cannot reproduce. Please re-open with additional details if possible.

[2022-07-02 20:01] #153 closed

[2022-07-02 20:06] robaho commented on #151
Using

I get not errors in the 3.02 release - so I am pretty sure the signatures are correct.

[2022-07-02 20:06] #151 closed

[2022-07-02 20:09] robaho commented on #135
Finally, I think you want to use the 'channels' feature to only adjust the alpha channel of the layer as the easiest way (possibly the eraser tool with less opacity).

[2022-07-02 20:09] #135 closed

[2022-07-02 20:10] robaho commented on #114
This is fixed in 3.02. "New from Pasteboard" is the easiest way.

[2022-07-02 20:10] #114 closed

[2022-07-02 20:11] robaho commented on #83
I cannot reproduce this in 3.02

[2022-07-02 20:11] #83 closed

[2022-07-02 21:17] core-code commented on #38
sorry to revive this topic but ... will version 3.x be available for proper download or will it be MAS-only?

cc @suschizu

[2022-07-02 22:16] robaho commented on #49
Bummer - OSX 10.9 doesn't support it (10.9 is the minimum supported OSX version now)

[2022-07-03 22:02] neutric opened #161 "Binaries for latest release?"
Are you going to make the binaries for 3.0 available on GitHub, or is Seashore now available exclusively via the App Store?

[2022-07-03 23:14] robaho commented on #161
Duplicate oof issue #38

[2022-07-03 23:14] #161 closed

[2022-07-03 23:15] robaho commented on #38
The current plans are for version 3.0+ binaries to only be released via the App Store.

[2022-07-03 23:44] neutric commented on #161
Thanks for the quick feedback!

[2022-07-04 04:48] robaho commented on #159
fixed in 3.03

[2022-07-04 04:48] #159 closed

[2022-07-04 05:15] robaho commented on #160
closing as this is working as expected. it is a function of system preferences.

[2022-07-04 05:15] #160 closed

[2022-07-04 14:44] robaho opened #162 "crash in smudgeFill in 3.02"
Process:               Seashore [41414]
Path:                  /Applications/Seashore.app/Contents/MacOS/Seashore
Identifier:            app.seashore
Version:               3.02 (2022070102)
App Item ID:           1448648921
App External ID:       850559965
Code Type:             X86-64 (Native)
Parent Process:        launchd [1]
User ID:               501

Date/Time:             2022-07-02 20:53:

[2022-07-04 16:10] robaho commented on #162
fixed in 3.03

[2022-07-04 16:10] #162 closed

[2022-07-10 08:39] vortexau-jk opened #163 "Image Menu , Image Size (Boundaries) NOT showing former Top, Bottom, Left, Right editing parameters"
Just a few days ago (after "**Remove this banner by supporting the Seashore Project.**" header appeared) and even since I bought **ONE SUPPORT** and was informed "Your purchase was successful" --- the **IMAGE** Menu / **IMAGE Size** (formerly **Boundaries**) only shows IMAGE Size **Width** & **Height** adjustable parameters,  with No direction changing T,B,L,R choices any more.

Up until just thos

[2022-07-10 23:51] robaho commented on #163
Thank you for supporting Seashore! The 'boundaries' option was removed in version 3.0+ since it seemed to cause confusion with users. The 'Adjust layer positions proportionally' covers most of the use cases I am aware of.

Can you describe your use-case for this feature?

[2022-07-11 10:32] vortexau-jk commented on #163
Hi Robert,

I tend to use that (this) Boundaries TOP, LEFT, BOTTOM, RIGHT, Feature very often, up to now. Let me explain . . ⬇️(jump to Mac use half-way down email)

I have been a “micro”computer user for some 39 years (beginning at age 33) now, but as an artist really got into the graphical image (on 16 - 32 bit hardware) in 1988 with the first of my FIVE Amiga computers. Initially having a Hard

[2022-07-11 11:39] robaho commented on #163
Hi John,

I am sorry these changes have caused you troubles. Can you please file a separate issue for the text tool with the details - from my understanding the new tool should be much easier for your use case.

As to the image positioning issue...

I can see for your case how this change would affect you, but I think the work around is the same number of steps. The reason that the positioning opt

[2022-07-11 11:42] robaho opened #164 "changing layer offsets of linked layer should adjust linked layers as well"
Using the layer properties to adjust a layer's offsets should adjust the linked layers too.

[2022-07-11 11:46] robaho commented on #163
Another issue with the dialog to change the canvas position, is that you can't see if the adjustment - so it can cause a lot of trial and error. Using the position tool and linked layers makes it easy to see what the final canvas/image will be.

[2022-07-11 12:01] robaho commented on #164
upon review, bringing back the ability to change the canvas position which affects all layers alleviates the need for this. having the fine grained positioning option of a particular layer (independent of linked status) can be seen more as a feature

[2022-07-12 02:19] robaho commented on #163
OK, I think the simplest solution is to use the crop tool, and set a custom aspect ratio to the desired size, then use 'crop image'. There is a bug, but in a future release it will retain these settings - so it will be easy to make similar changes to multiple images.

[2022-07-12 04:40] robaho opened #165 "update guide for new text tool"
The text tool has extensive changes in 3.0 and the guide needs to be updated.

[2022-07-12 05:28] robaho commented on #165
@vortexau-jk I am attaching a quick video that shows the operation of the text tool. Please let me know in detail why you think the previous tool was easier/better. Thanks for your input.

https://user-images.githubusercontent.com/4958833/178415329-f90058f6-a77a-4220-88b2-a0209994155c.mp4

[2022-07-12 10:22] vortexau-jk commented on #163
Ah Robert,

Is there an easy way to revert to the previous version of SEASHORE?  Up until the message calling for User financial conmitment appeared at the Top- that earlier version of SEASHORE was pleasing to my use. Certainly, with SEASHORE’s ability to IMPORT overlay images with transparent backgrounds in Layers, and arrange those Layers at the User’s call- I did find the earlier SEASHORE versi

[2022-07-12 13:53] robaho commented on #163
Also, if you are unhappy that you made a financial contribution to the project - please private message me your receipt from Apple and I will issue a refund. (I think you may also be able to request a refund directly).

I am sorry if the changes caused you trouble. Version 3.0 is the result of a lot of hard-work and attempts to make Seashore the best easy to use image editor available.

[2022-07-12 13:59] robaho opened #166 "allow text tool to format to fit selection"
This would allow the user to select an arbitrary area - for example using the wand - and then use the outer boundary of the selection as the text box.

This would make adding text to balloons, etc. trivial.

Thanks to @vortexau-jk for the idea.

[2022-07-20 03:21] robaho commented on #166
This is available in version 3.1

[2022-07-20 03:21] #166 closed

[2022-07-20 03:25] robaho commented on #163
In version 3.1 I have added the top/left offsets which is a bit easier to understand for users - so change the canvas size and position.

A future version will add a preview image so you can get a general idea of the pending change.

I still think it is easier to use the crop tool with a custom aspect ratio - especially in 3.1 - because the 'point information' correctly show the upper left corner

[2022-07-20 03:25] #163 closed

[2022-08-20 01:01] mugsuk opened #167 "Gray 3D border"
Hi Robert

More of a request than an issue: is it possible to remove the gray border to the right and bottom of the image being worked on as I find it distracting (see attached screenshot)

Thanks for keeping the project alive - my favourite MacOS app!

Murray
<img width="1594" alt="Screenshot 2022-08-20 at 10 50 04" src="https://user-images.githubusercontent.com/38717962/185723338-9c467ee7-a981-4

[2022-08-20 02:14] robaho commented on #167
I will add a preference option in version 3.8. Thanks for supporting the project!

[2022-08-20 03:04] robaho commented on #167
fixed in 3.7

<img width="2560" alt="image" src="https://user-images.githubusercontent.com/4958833/185726590-2985f489-09cc-4ddd-999b-56b6ee462adf.png">

[2022-08-20 03:04] #167 closed

[2022-08-20 03:05] robaho commented on #167
fixed in 3.7

<img width="487" alt="image" src="https://user-images.githubusercontent.com/4958833/185726609-4c943a6a-2b59-4703-8c69-82e675513a3b.png">

[2022-08-28 20:10] resistor4u commented on #3
I learned Seashore has a QL generator for GIMP format here (https://gitlab.gnome.org/GNOME/gimp/-/issues/688). I've both built Seashore from source and downloaded the App Store version, and I'm unable to get either `XCFQuickLook.qlgenerator` to generate a quicklook preview on any of my .xcf files. The generator does not have any quarantine attributes, so I know permissions is not the problem. I di

[2022-08-28 22:00] robaho commented on #3
It should work. I will look into it.

[2022-08-31 05:35] robaho commented on #90
available in 3.0+

[2022-08-31 05:35] #90 closed

[2022-08-31 05:38] robaho commented on #3
I think the quick look generator broke some time ago. I have fixed it in version 3.8 which should be in the app store in a couple of days.

[2022-10-11 02:30] robaho commented on #130
This should be fixed in 3.9 since e all colors are chosen via a color well.

[2022-10-11 02:30] #130 closed

[2022-10-11 08:24] DDevDevonne commented on #154
any files ….

DDevDimitrova 

On Thursday, May 19, 2022, 7:59 PM, robert engels ***@***.***> wrote:

There is a major update this is going to be posted soon. Does this happen on all files or just some?

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authored the thread.Message ID: ***@***.***>

[2022-10-11 09:26] DDevDevonne commented on #154
Im working on .png file. I will Try to screenshot it whenever the error appears. Probably tomorrow Cuz Im going to work.

DDevDimitrova 

On Friday, May 20, 2022, 3:25 AM, robert engels ***@***.***> wrote:

Is it possible for you to send me a private message - or post here - the image file you were working with?

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving

[2022-10-11 11:25] DDevDevonne commented on #154
Thank you for the help, but I'm not longer using  the program. I finished, the project I did. If I have problems in future I will text you again!a a great day :)

DDevDimitrova 

On Tuesday, October 11, 2022, 2:21 PM, robert engels ***@***.***> wrote:

Reopened #154.

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authored the thread.Message I

[2022-10-11 11:47] robaho commented on #154
Can you tell me what the comment

any files…

means. Are you staying that on version 3.9 any file you open lags? But you were able to use it to finish your project?

thanks for your help I appreciate it.

[2022-10-11 12:20] DDevDevonne commented on #154
Any files ment .jpg ; .png; I my project on another program. 
The version was last one, till the time we correspond last time, I do not remember the number. Have a great day!

DDevDimitrova 

On Tuesday, October 11, 2022, 2:47 PM, robert engels ***@***.***> wrote:

Can you tell me what the comment

any files…

means. Are you staying that on version 3.9 any file you open lags? But you were able to

[2022-10-11 12:23] robaho commented on #154
Closing. I don’t understand what the problem was or the version so there’s not much I can do. Bummer.

[2022-10-11 12:23] #154 closed

[2022-10-12 13:19] bryanmiller opened #168 "Images not displaying on macOS Catalina Intel"
Neither the image display window or image creation window are not appearing in version 3.9.1. I'm using macOS Catalina (10.15.7) with an Intel i7 processor. It works fine on macOS Monterey (12.6) with Apple M1 Pro.

[2022-10-12 13:50] robaho commented on #168
Ugh. So sorry. Can you check the console to see if you see any error messages for seashore and paste them here?

I test on 10.9 and 10.10 in a vm. Maybe a last second change broke something.

[2022-10-12 14:00] robaho commented on #168
I just tried the latest release on 10.9 and it opened fine, so without your help I probably can't fix. Did you get a crash? Did you use "Send Report to Developer/Apple"?

[2022-10-12 16:24] bryanmiller commented on #168
I did not get an obvious crash nor the 'Send report...' popup. I do see the following in the log.
{ID: app.seashore, PID[86257], auid: 3107, euid: 3107, binary path: '/Applications/Seashore.app/Contents/MacOS/Seashore'} attempted to call TCCAccessRequest without the com.apple.private.tcc.manager.check-by-audit-token entitlement

[2022-10-12 17:23] robaho commented on #168
Thank you for the update. I am installing Catalina today. I will try and get this resolved tonight - day job and all…

[2022-10-13 13:13] robaho commented on #168
@bryanmiller Is the Catalina Mac an official Mac or a clone? What hardware?

[2022-10-13 15:16] robaho commented on #168
I was able to reproduce. I am working on a fix. Not sure what Apple changed... :(

[2022-10-14 12:25] robaho commented on #168
Fixed in 3.9.2 which is available in the App Store. Not sure what Apple changed, but I needed to change code that hasn't been modified in 15 years. Oh well. Sorry for the hassle.

[2022-10-16 13:52] bryanmiller commented on #168
This is working well, thanks.

[2022-10-29 17:09] yik77 opened #169 "trivial operations doesnt work"
i have (hesitantly) updated to Version 3.9.2 (2022101301) from some old and ancient one. Now i can not even select with drag and drop or crop bitmap. please advise. i have 10.13.6 (17G14042) OS X.

[2022-10-29 21:22] robaho commented on #169
Does the program crash? Can you use screen capture to attach a video? I really don’t know what you mean.

[2022-10-30 21:42] robaho opened #170 "do not show color panel on open if not previously shown"
set the state of the color chooser panel based on the last state of the application.

[2022-10-30 21:42] robaho commented on #170
fixed in 3.11

[2022-10-30 21:42] #170 closed

[2022-11-03 21:35] mjgardner opened #171 "GitHub releases and tags don't track App Store"
Version 3.10 was published [on the App Store](https://apps.apple.com/us/app/seashore/id1448648921?mt=12) last week. There have been a dozen App Store releases since [version 3.0](https://github.com/robaho/seashore/releases/tag/v3.0) but the GitHub releases page has not kept pace. And [tags](https://github.com/robaho/seashore/tags) stop at [3.8](https://github.com/robaho/seashore/releases/tag/3.8).

[2022-11-06 22:36] robaho commented on #171
The releases are no longer updated and users need to build and test themselves. There are other issues discussing this - mainly because it actually hurts the project due to lack of integrated crash reporting.

The repo is now up to date with 3.10.

TBH, there are multiple apps not adhering to the license and distributing illegal versions of Seashore on the App Store - so posting updates to the rep

[2022-11-06 22:36] #171 closed

[2022-11-07 00:54] robaho commented on #169
Closing due to no response.

[2022-11-07 00:54] #169 closed

[2022-11-25 15:36] bosborne opened #172 ""pinch" performs a zoom-in, not a pinch"
Might be that this is just my ignorance, but I expected "pinch" to be the opposite of "bump", i.e. distorts a sub-region of the image. Instead it changes the entire image by performing a zoom-in, actually removing pixels rather than distorting.

[2022-11-25 18:31] robaho opened #173 ""bump" distortion should allow negative scale"
The "bump" distortion can be used with a negative scale to "pinch" an area of the image, but Seashore is not allowing negative values to be entered.

[2022-11-25 18:32] robaho commented on #172
I believe this is working at expected. See https://cifilter.io/CIPinchDistortion/ for a discussion of how it works. The only issue I see is that the scale should be 0-1, and I am allowing larger values. I have fixed this in 3.11 (which is why it shows 0-100% in the video)

See this [video](https://youtu.be/4tmrH31ZnzA) of the pinch distortion in Seashore. At larger scales you can see the image cle

[2022-11-25 18:32] #172 closed

[2022-11-25 18:32] robaho commented on #173
fixed in 3.11

[2022-11-25 18:32] #173 closed

[2022-11-25 23:10] robaho opened #174 "support simple vector drawing"
tracking issue to support basic vector drawing (e.g. arrows, boxes, ellipsis, etc.)

Often when marking up (annotating) a photo image being able to draw/move using vector shapes is easier.